-use_kindeditor
-use_javascripts 'controllers/pages'

%h2#title= link_to page.title, "/pages/#{page.handle}", title: '在网店中查看此页面', target: '_blank'
#action-links
  %ul
    %li.no-icon
      %a#page-edit-link(href="#pages/edit") 修改
    %li.no-pad
      = link_to image_tag('admin/icons/trash.gif'), page_path(page), remote: true, method: :delete, confirm: '您确定要删除?', title: '删除它', class: :del

.page-edit
  .group(style="margin-top:0")
    =form_for page do |f|
      #page-form.group-fields
        %dl
          %dt=f.label :title
          %dd=f.text_field :title, class: [:big, :sb]
          %dt#edit-handle-label(style="font-size:85%") 链接/处理
          %dd#edit-handle.ssb
            %span.note==#{shop.primary_domain.url}/pages/
            =f.text_field :handle, style: 'width: 175px'
            %span.note
              (
              %a(href="#{Setting.wiki_url}/Handle" target="_blank")> 这是什么?
              )
          %dt
            %label(for="page_body_html") 编写您的页面
          %dd(style="margin-bottom:0")=f.text_area :body_html, id: 'kindeditor', style: "width: 895px; height: 282px;"
      .group-actions
        %input#submit-page-btn.btn(name="commit" type="submit" value="保存")
        或者
        = link_to '取消', '#'

#page-show.box2.article(style="cursor: pointer" title="点击修改")
  #page-body.textile.pgroup
    / Table Wrapper to prevent the layout from breaking due to invalid user text!
    %table.table-wrapper(style="width: 100%")
      %tr
        %td
          %p=raw page.body_html
.box2.sst
  / The parent is needed for the nested resource Article (blog is the parent)
  %h3 页面可见性
  %p.sb.note
    如果你不需要此页面显示在您的网店中，您可以设置它的可见性为
    = succeed "." do
      %em 隐藏
  =form_for page, remote: true, html: {id: 'edit_page_form'} do |f|
    =f.select :published, [['显示', true], ['隐藏', false]], {}, style: "width: 120px; font-size: 13px", onchange: "$('#edit_page_form').submit();"

:javascript
  App.init = function(){
    new App.Controllers.Pages();
    Backbone.history.start();
  }

  task_name = 'add_content';
