<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{{ 'stylesheet.css' | asset_url | stylesheet_tag }}

<!--[if IE 7]>
  {{ 'ie7.css' | asset_url | stylesheet_tag }}
<![endif]-->


<!--[if IE ]>
  {{ 'ie.css' | asset_url | stylesheet_tag }}
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {{ 'jquery/1.5.2/jquery.js' | global_asset_url | script_tag }}
  {{ 'option_selection.js' | shopqi_asset_url | script_tag }}
  <title>
{% case template %}
{% when 'index' %}
    {{ page_title }} - {{ shop.name }}
{% when 'page' %}
    {{ page_title }} - {{ shop.name }}
{% when 'product' %}
    {{ page_title }} - {{ shop.name }}
{% when 'blog' %}
    {{ page_title }} - {{ shop.name }}
{% when 'article' %}
    {{ page_title }} - {{ shop.name }}
{% when 'collection' %}
   {{ page_title }}  - {{ shop.name }}
{% else %}
    {{ page_title }} - {{ product.title }}
{% endcase %}
  </title>

  {{ 'imgbox.js' | asset_url | script_tag }}
  {{ 'lightbox.js' | asset_url | script_tag }}
  {{ content_for_header }}
  {% if template contains 'customers' %}
    {{ "shopqi_common.js" | shopqi_asset_url | script_tag }}
    {{ "customer_area.js" | shopqi_asset_url | script_tag }}
  {% endif %}


</head>
<body>

  <div id="wrapper">
    <div id="header">
      <div class="container">
        <div id="logo-wrapper">
          <div id="logo">
            {% if settings.use_logo_image %}
            <a href="/">{{ 'logo.png' | asset_url | img_tag }}</a>
            {% else %}
            <h1><a href="/">{{ shop.name }}</a></h1>
            {% endif %}
          </div><!-- .logo -->
        </div><!-- .left -->
        <ul id="sub-nav">
          {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
  {% if customer %}
    <li> <span class="login_link">Welcome {{ customer.first_name }}</span> <a href="/account">(VIEW ACCOUNT</a> / {{ 'Logout' | customer_logout_link }})</li>
  {% else %}
    <li>{{ 'Customer Login' | customer_login_link }}</li>
  {% endif %}
{% endif %}
        </ul>
        <ul id="main-nav">
          {% for link in linklists.main-menu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>

        <ul id="cart">
           <li><a {% if settings.cart_graphic %}class="checkout"{% endif %} href="/cart">Your Cart {% if settings.cart_graphic %}<em>{{ cart.item_count }}</em>{% endif %}</a></li>
        </ul>
      </div><!-- container -->
    </div><!-- #header -->


    {% if template == "index" and settings.use_feature_image %}
    <div class="feature">
      <div class="container">
        <a href="http://{{ settings.use_bannerurl_image }}">{{ "feature.jpg" |  asset_url | img_tag, "featured product"}}</a>
      </div><!-- .container -->
    </div><!-- .feature -->
    {% endif %}

{% if settings.border_grunge %}
    <div class="grunge"></div><!-- .grunge -->
{% endif %}

    <div class="container">
      <div id="content">

      {% if flash.error %}<div class="flash error">{{ flash.error }}</div>{% endif %}
{% if flash.notice %}<div class="flash notice">{{ flash.notice }}</div>{% endif %}

        {{ content_for_layout }}
      </div> <!-- content -->
    </div><!-- .container -->
    <div id="push"></div>
  </div><!-- #wrapper -->
  <div id="footer">
    <p>Copyright &copy; {{ shop.name | capitalize }} {{ 'now' | date: "%Y" }} | {{ powered_by_link }} </p>
      <ul>
        {% for link in linklists.main-menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>

    </div>

  </body>
  </html>
