- @current_tour = :current
- @current_design = :current

#banner
  .content
    %h1 定制
  / .content
/ #banner
.content.subpage
  #sidebar-features.col-3.last=render 'sidebar'
  .col-9.right.last
    .clearfix.page-subheading(style="margin-bottom:40px;")
      %h2.center 外观设计很容易定制
      %p.feature-subheading 让您的网店以您想要的方式展示.
    .col-9.clearfix.last
      .col-6.poloroid
        %a.single.cboxelement(href="#{asset_path('graphics/tour-themestore-big.jpg')}")
          =image_tag 'graphics/tour-themestore-small.jpg'
          %em 浏览主题商店找到最好的主题
      / .col-6
      .col-3.poloroidcopy.last
        %h3 主题商店
        %p
          =link_to '主题商店', theme_store_url_with_port, target: :_blank
          里有由ShopQi专业师创建的丰富多样的外观风格.
        %p 选用主题可以让您以最快的方式建立网上商店.
      / .col-3
    / .col-9 clearfix last
    .col-9.clearfix.last
      .col-3.poloroidcopy
        %h3 定制主题
        %p 每一个主题都包含自己的设置选项，让您不需要掌握HTML/CSS就可以定制主题.
        %p 所有主题都可以很容易进行修改，包括上传自己的Logo图案.
        %p 您也可以修改字体、商品幻灯片或者布局之类的内容.
      / .col-3
      .col-6.poloroid.last
        %a.single.cboxelement(href="#{asset_path('graphics/tour-presetscreenbig.jpg')}")
          =image_tag 'graphics/tour-presetscreen.jpg'
          %em 通过主题编辑器很容易修改外观
      / .col-6
    / .col-9 clearfix last
    %h3(style="text-align:center") 定制主题示例
    .clearfix.preset-example
      %ul
        %li.step1
          %strong> 步骤 1. 选择一个主题
          浏览
          =link_to '主题商店', theme_store_url_with_port, target: :_blank
          然后选择一个主题用于定制.
          %a.single.cboxelement(href="#{asset_path('graphics/tour-presetex-beforebig.jpg')}")
            =image_tag 'graphics/tour-presetex-before.png'
        %li.step2
          %strong> 步骤 2. 定制
          使用主题编辑器表单修改Logo图案和颜色.
          %a.single.cboxelement(href="#{asset_path('graphics/tour-presetex-presetsbig.jpg')}")
            =image_tag 'graphics/tour-presetex-presets.png'
        %li.step3
          %strong> 步骤 3. 完成
          现在我们的网店看起来不一样了.
          %a.single.cboxelement(href="#{asset_path('graphics/tour-presetex-afterbig.jpg')}")
            =image_tag 'graphics/tour-presetex-after.png'
    / .feature-box clearfix
    .col-9.clearfix.last
      .col-3.poloroidcopy
        %h3 编写HTML &amp; CSS实现定制
        %p
          ShopQi允许您通过HTML &amp; CSS 来100%控制您的网店界面. ShopQi使用模板语言
          = succeed "." do
            %a(href="#{wiki_url_with_port}/Liquid" target="_blank" title="Liquid - ShopQi Wiki") Liquid
        %p Liquid可以很轻易地把静态HTML &amp; CSS转化为动态的电子商务系统.
        %p
          详情可通过
          %a(href="#{wiki_url_with_port}/Main_Page" target="_blank" title="Main Page - ShopQi Wiki") 查看我们的文档
          来了解如何使用Liquid.
      / .col-3
      .col-6.poloroid.last
        %a.single.cboxelement(href="#{asset_path('graphics/tour-templateeditor-big.jpg')}")
          =image_tag 'graphics/tour-templateeditor-small.jpg'
          %em 快速使用模板编辑器来更新您的HTML &amp; CSS. 它具备语法高亮和修改记录保存功能，非常简单安全!
      / .col-6
    / .col-9 clearfix last
    .clearfix
      .next-feature
        .next-buttons.clearfix
          %a.signup(href="/signup") 注册
          %a.next-step(href="/tour/security") 查看 ShopQi的托管服务与安全性 &rsaquo;
        / .clearfix
      / .next-feature
    / .clearfix
  / .col-9
/ content
.no-signup-page(style="margin-top: 30px;")
