<h2>{{collection.title}}</h2>
<div class="coll-desc">{{collection.description}}</div>
{% paginate collection.products by 20 %}
<table id="products" cellspacing="0" cellpadding="0">
  {% tablerow product in collection.products cols:3  %}
  <div class="product">
    <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}"/></a>
      <h3><a href="{{product.url}}">{{product.title}}</a></h3>
      <div class="money">{{ product.price | money }}</div>
    </div>
    <br />
  </div>
  {% endtablerow %}
</table>
<div id="pagination" class="clear"> {{ paginate | default_pagination }} </div>
{% endpaginate %}
<div id="tags">
  <ul>
    <li>tags:</li>
    {% for tag in collection.tags %}
    <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
    {% endfor %}
  </ul>
</div>
