<table id="products" cellspacing="0" cellpadding="0">
  {% tablerow product in collections.frontpage.products cols:3  %}
  <div class="product">
    <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}"/></a>
      <h3><a href="{{product.url}}">{{product.title}}</a></h3>
      <div class="money">{{ product.price | money }}</div>
    </div>
    <br />
  </div>
  {% endtablerow %}
</table>
<div id="articles"> {% for article in blogs.latest-news.articles limit: 1 %}
  <h3>{{ article.title }}</h3>
  <div class="article-body textile"> {{ article.content}} </div>
  {% endfor %} 

<p><a href="blogs/latest-news">All News >></a></p></div>