-use_kindeditor

%h2#title
  =link_to "#{blog.title} - #{article.title}", "/blogs/#{blog.handle}/#{article.id}", target: :_blank
#action-links
  %ul
    %li.no-icon
      =link_to "所有文章", blog_path(blog)
    %li.no-icon
      %a#article-edit-link.editButton(href="#") 修改
    %li.no-pad
      = link_to image_tag('admin/icons/trash.gif'), blog_article_path(blog,article), remote: true, method: :delete, title: '删除它', class: :del, data: { confirm: '您确定要删除?' }
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
#article-edit{:style => "display: none;"}
  .group.sst
    =form_for [blog,article], html:{class:"edit_article"} do |f|
      #article-form.group-fields
        %dl
          =render partial:"form",locals:{f:f,article:article}
      .group-actions
        %input#submit-article-btn.btn{:name => "commit", :type => "submit", :value => "保存"}
        或者
        %a.cancel{:href => "#"} 返回
        / inline padding
#article-show.box2.article(style="cursor: pointer" title="点击修改")
  %h3#article-ttl==#{article.title}
  #body-show.textile
    / Table Wrapper to prevent the layout from breaking due to invalid user text!
    %table.table-wrapper
      %tr
        %td
          %p=raw article.body_html
/ Required arguments: parent, counts
=render partial:"comments",locals:{blog:blog,article:article}
=render partial:"visibility",locals:{article:article}
:javascript
  App.init = function(){
    new App.Controllers.Articles();
    Backbone.history.start();
  }
  task_name = 'add_content';
