=content_for :stylesheets do
  =stylesheet_link_tag 'fileuploader'
=content_for :javascripts do
  =javascript_include_tag 'backbone/views/themes/index'

%h2#title 安装主题
#action-links
  %ul
    %li#customer=link_to '上传一个主题', '#'
    %li#themestore=link_to '查找更多的主题', "#{theme_store_url_with_port}?shop_url=#{show_shop_url}"
=render "shared/noscript"
=render "shared/upgrade_ie"
.import-wrapper
  #theme-progress-bar.box2.import-in-progress.c.toggle(style='display: none') 正在处理您的主题文件…
  #finished-dialog.box2.import-complete.c.toggle(style='display: none')
#upload-theme.box2.ssb.clearfix(style="display:none;")
  .fl.st(style="margin-right: 15px")
    %a(href="#")=image_tag 'admin/icons/arrow-up-large.gif'
  %h3 上传一个新的主题
  %div
    %p.note
      请先将所有主题文件打包压缩为一个zip文件；上传的主题将会安装到您的商店
      = succeed "." do
        %strong 但是不会自动发布
    %dl
      %dd
        #file-uploader
    .group-actions
      或者
      %a.cancel(href="#") 取消
    / .group-actions

#published
  %h3.heading 已发布的主题
  %p.note.sb
    这里是您已经发布的主题. 这些主题
    %strong 已经应用
    到您的商店前台. 您对这些主题所做的任何修改将立即生效.
  #published-themes
    %ul.theme.pb.clearfix

#unpublished.hide
  %h3.heading 未发布的主题
  %p.note.sb 这里是您未发布的主题. 您对这些主题所作的修改,不会影响到当前的商店前台.
  #unpublished-themes
    %ul.theme.unpublished.pb.clearfix

%script(id="theme-item" type="text/x-handlebars-template")
  .fl.theme-icon
    {{#if is_published}}
    =image_tag 'admin/theme-placeholder.jpg'
    {{else}}
    =image_tag 'admin/unpublished-theme-placeholder.jpg'
    {{/if}}
  .fr.theme-details
    .heading.clearfix
      %h3
        {{name}}
        {{#if is_published}}
        %span(class="{{role}}") {{#if is_main}}普通{{else}}手机{{/if}}
        {{/if}}
      %p.main-actions
        {{#unless is_main}}
        %span.preview
          %a(data-popup="true" href="#{show_shop_url}?preview_theme_id={{id}}") 预览
        %span.delete-theme
          |
          %a(href="#")=image_tag 'admin/icons/trash.gif'
        {{/unless}}
    %ul.theme-actions.clearfix
      %li.theme-settings
        %a(href="/admin/themes/{{id}}/settings") 外观设置
      %li.duplicate-theme
        %a(href="#") 复制主题
      %li.theme-editor
        %a(href="/admin/themes/{{id}}/assets") 模板编辑器
      %li.export-theme
        %a(href="#") 导出主题
    %ul.theme-actions.extra.clearfix
      {{#if is_published}}
      %span.main-theme 已经发布为{{#if is_main}}普通{{else}}手机{{/if}}主题
      {{else}}
      .publish-theme-link
        %li.publish-main
          %a(href="#") 发布此主题
      .publish-theme-dropdown(style="display:none;")
        %form.edit_theme(action="#" onsubmit="return false")
          %span.fl
            %select(name="theme[role]")
              %option(value="main") 发布为普通主题
              -#%option(value="mobile") 发布为手机主题
          %span.fr
            %input(name="commit" type="submit" value="提交")
            或者
            %a(href="#" style="background:none") 取消
      {{/if}}
      {{#if is_mobile}}
      %li
        %a(href="/admin/themes/{{id}}?theme[role]=unpublished" style="float:right;") 取消发布
      {{/if}}
%script(id="finished-dialog-item" type="text/x-handlebars-template")
  您的主题文件已经上传完成.
  %br
  %span.import-actions
    %a(href="#{show_shop_url}?preview_theme_id={{id}}") 预览 {{name}}
    或者
    %a(href="/admin/themes/{{id}}/assets") 进入模板编辑器页面

:javascript
  App.published_themes = new App.Collections.ShopThemes(#{@published_themes_json})
  App.unpublished_themes = new App.Collections.ShopThemes(#{@unpublished_themes_json})
  new App.Views.Theme.Index();

  task_name = 'customize_theme';
