<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{{ shop.name }} &mdash; {{ page_title }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

<!--[if IE 7]>
	{{ 'ie7.css' | asset_url | stylesheet_tag }}
<![endif]-->

{{ 'fancybox.js' | asset_url | script_tag }}
{{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
{{ 'option_selection.js' | asset_url | script_tag }}

<script type="text/javascript">
$(document).ready(function() {  $("a.single_image").fancybox(); $("a.single_image").fancybox({ 'hideOnContentClick': true }); $("a.group").fancybox({ 'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': false }); });
</script>

{{ content_for_header }}
</head>





<body id="page-{{ template }}">

<div id="wrapper">
    <div id="header" class="clearfix">

      <div id="nav-search">
      <form action="/search" method="get" class="search clearfix">
				<input type="text" name="q" id="q" class="search-field" />
				<input type="image" src="{{ 'icon-search.png' | asset_url }} " class="search-button" name="search-button" onclick="this.parentNode.submit(); return false;" id="seek" />
			</form>

      <ul class="primary-nav clearfix">
      {% for link in linklists.main-menu.links  %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
        <li class="cart"><a href="/cart">购物车 ({{ cart.item_count }})</a></li>
      </ul>
      </div><!-- #nav-search -->

      <div class="logo">
        <h1>
          {% if settings.use_logo_image %}
          <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
          {% else %}
          <a href="/">{{ shop.name }}</a>
          {% endif %}
        </h1>
      </div><!-- .logo -->

    </div><!-- #header -->
    <div class="content clearfix">

     {{ content_for_layout }}
    </div><!-- .content -->
</div><!-- #wrapper -->

<div id="footer">
  Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }} 版权所有 | {{ powered_by_link }} |
  <ul>
    {% for link in linklists.footer.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  <br />
</div><!-- #footer -->

</body>
</html>
