{% layout settings.customer_layout %}

<div id="admin_header">
  <div class="action_link action_return note"><a href="/account">返回帐号页面</a></div>

  <h2 class="title">订单 {{ order.name }}</h2>
</div>

{% if order.cancelled %}
<div id="order_cancelled" class="flash notice">
  <h5 id="order_cancelled_title">订单取消<span class="note">于 {{ order.cancelled_at | date: "%Y年%m月%d日 %I:%M" }}</span></h5>
  <span class="note">{{ order.cancel_reason }}</span>
</div>
{% endif %}

<div class="note order_date">下单时间: {{ order.created_at | date: "%Y年%m月%d日 %I:%M" }}</div>

<div id="order_address" class="group">
  <div id="order_payment">
    <p><span class="note">支付状态:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
  </div>
  {% if order.shipping_address %}
    <div id="order_shipping">
      <h5 class="order_section_title">收货地址</h5>
      <p><span class="note">配送状态:</span> <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
      <div class="address note">
        <p>{{ order.shipping_address.company }}</p>
        <p>{{ order.shipping_address.name }}</p>
        <p>{{ order.shipping_address.phone }}</p>
        <p>{{ order.shipping_address.province }} {{ order.shipping_address.city }} {{ order.shipping_address.address1 }}</p>
        <p>{{ order.shipping_address.zip }}</p>
      </div>
    </div>
  {% endif %}
</div>

<table id="order_details">
  <thead>
    <tr>
      <th>商品</th>
      <th>SKU</th>
      <th>价格</th>
      <th class="center">数量</th>
      <th class="total">金额</th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in order.line_items %}
    <tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
      <td class="product">
        {{ line_item.title | link_to: line_item.product.url }} 
        {% if line_item.fulfillment %}
          <div class="note">
            发货于 {{ line_item.fulfillment.created_at | date: "%Y %m" }}
            {% if line_item.fulfillment.tracking_number %}
              <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
            {% endif %}
          </div>
        {% endif %}
      </td>
      <td class="sku note">{{ line_item.sku }}</td>
      <td class="money">{{ line_item.price | money }}</td>
      <td class="quantity cente">{{ line_item.quantity }}</td>
      <td class="total money">{{ line_item.quantity | times: line_item.price | money }}</td>
    </tr>
    {% endfor %}
  </tbody>  
  <tfoot>
    <tr class="order_summary note">
      <td class="label" colspan="4">金额:</td>
      <td class="total money">{{ order.subtotal_price | money }}</td>
    </tr>   
    
    {% for shipping_method in order.shipping_methods %}
    <tr class="order_summary note">
      <td class="label" colspan="4">配送方式: ({{ shipping_method.title }}):</td>
      <td class="total money">{{ shipping_method.price | money }}</td>
    </tr>
    {% endfor %}
            
    <tr class="order_summary order_total">
      <td class="label" colspan="4">总金额:</td>
      <td class="total money">{{ order.total_price | money }} {{ order.currency }}</td>
    </tr>   
  </tfoot>  
</table>
