{% if blog.all_tags != blank %}
<h2>标签</h2>
<ul class="tags">

{% for tag in blog.all_tags %}
{% if current_tags contains tag %}
<li class="current" >
  <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handelize }}">{{ tag }}</a>
</li>
{% else %}
<li>
  <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handelize }}">{{ tag }}</a>
</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}


<h2>最新动态</h2>
<ul>
    {% for article in blogs.news.articles limit:3 %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a>
      <span class="post-content">{{ article.content | strip_html |  truncate:100 }}</span>
    </li>
    {% endfor %}
</ul>
