#container
  #dialog
    .status
      %p==重置密码:#{resource.email}
    = form_for(resource, :as => resource_name, :url => user_password_path(resource), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .lform
        = f.hidden_field :reset_password_token
        .ppb.clearfix
          = f.label :password
          = f.password_field :password
        .ppb.clearfix
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        .actions
          = f.submit "修改密码",class: 'btn'
          =w('or')
          =link_to w('cancel'),new_user_session_path
