-use_javascripts 'controllers/users'
%h2#title
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
.col-12.last
  #dashboard-facts.box2
    %ul
      -[:today,:yesterday,:last_week].each do |k|
        %li
          %p.big==¥#{statistics[k][:price]} RMB
          %span==#{statistics[k][:des]}
          %p==#{statistics[k][:size]}个订单
      %li
        %p.big==#{statistics[:total][:size]}
        %span==#{statistics[:total][:des]}
      %li.last
        %p.big==#{statistics[:total_product][:size]}
        %span==#{statistics[:total_product][:des]}
.col-8
  #stats-spinner{:style => "display:none"}
    Updating…
  #stats
  #recent-activity
    %h3.sb Recent activity
    %table#events.data{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr#event-195877440.odd
          %td.Apr17{:style => "width: 85px;"}
            %strong Apr 17
          %td
            New collection:
            = succeed "." do
              %a{:href => "/admin/custom_collections/3670472"} custom
            %br/
            %small.note
              at 03:28 am by development shop
          %td.r
  -#
    %p#upgrade.box2
      *
      %a{:href => "/admin/account"} Upgrade your plan
      to utilize full statistics including a draggable bar graph, a list of
      top referrers, search terms, a traffic breakdown, and percentage of hits
      by country of origin.
.col-4.last.sidebar
  %h3 最近的订单
  -if recent_orders.blank?
    %p.note 您目前没有订单
  -else
    %ul#dashboard-orders
      -recent_orders.each do |order|
        %li
          %p.note==#{order.created_at.to_s(:short)}
          =link_to order.name, order_path(order)
          \- ¥#{order.total_price}
  -unless recent_comments.blank?
    %h3.sst 最新的博客评论
    %ul#dashboard-comments
      -recent_comments.each do |comment|
        -article = comment.article
        %li
          %p
            %a(href= "#{comments_path(blog_id: article.blog.id,article_id: article.id)}")
              %span.yesterday==#{comment.created_at.to_s(:short)}
              由 #{comment.author} 评论
          %p.note=truncate(comment.body,length: 10)
  %h3.sst 用户
  %ul#user-table.nobull
    -shop.users.each do |u|
      %li.box2
        =image_tag u.gravatar_url, id: 'gravatar'
        =link_to u.name,"#users/#{u.id}",:class => "closure-lightbox"
        -if u.is_admin?
          %span.state.owner 帐户所有者
        %br/
        %small.note
          -if u.last_sign_in_at
            ==最后登录:#{distance_of_time_in_words(u.last_sign_in_at ,Time.now)}
          -else
            该用户到目前为止，没有登录过
=render partial:"show_user"

:javascript
  new App.Controllers.Users();
