=content_for :javascripts do
  =javascript_include_tag 'models/customer', 'models/customer_group', 'collections/customers', 'collections/customer_groups', 'views/customers/index/index', 'views/customers/index/search', 'views/customers/index/show', 'views/customer_groups/index/index', 'views/customer_groups/index/show', 'controllers/customers/index'

%h2#title 顾客管理
#action-links
  %ul
    %li#customer=link_to "新增顾客信息", new_customer_path
    -#
      %li.csv
        %a#show_export_customers(href="#") 导出顾客信息
      %li.csv
        %a(href="/admin/customer_imports") 导入顾客信息
=render "shared/noscript"
=render "shared/upgrade_ie"
-#=render :export
.clearfix.ppb(style="padding-bottom:40px;")
  .col-4(style="width:242px; position:relative;")
    #customer-group-container.box2.preview-box
      .preview 顾客分组
      %ul#customer-groups
        %li#customergroup-all.customer-group.active.clearfix
          .group-details
            %h3 所有顾客
        %li#customergroup-current.customer-group.current-search.clearfix(style='display: none')
          .group-details
            %h3 当前查询
            %ul.filters
            %a#save_customer_group_link.btn.closure-lightbox(href="#save_customer_group" onclick="return false;" title="Save Customer Group") 保存为顾客分组
  .col-8.last(style="width:648px;")
    #order-filters
      %form#customer-search(action="/admin/customers" method="get" onsubmit="return false")
        #customer-filters.box2.clearfix
          .clearfix
            %input#customer-search_field.filter-text(autocomplete="off" data-hint="输入查询内容过滤信息..." name="q" onsubmit="return false" type="text")
            .filter-info
              #search-filter_summary.summary(style="display:none;")
                %span.filter-message 1 active filter
                %span.remove
                  %a(href="#") x
            #customer-search_msg(style='padding-left: 10px; background-image: none; background-color: transparent;') 找到 0位 顾客
          #customer-search_filters
      #customer-search_add_filters.toggle-drop.box2(style="display:none;")
        %h3
          %span.hint 增加过滤器 通过订单总额等条件过滤顾客信息
        .clearfix
          %form#search-filter(onsubmit="return false")
            %select#search-filter_primary(name="primary-value")
              -primary_filters.each do |filter|
                %option{value:filter.code, clazz:filter.clazz}=filter.name
            %select#search-filter_secondary(name="secondary-value")
            #search-filter_value_div
              %input#search-filter_value.condition.filter_text_value(name="filter-value" style="width:120px" type="text")
            .apply_filter
              %input#search-filter_apply.btn.apply-filter(name="commit" onclick="return false;" type="submit" value="新增过滤器")
    .sst(style="height: 32px;")
      %table#customer-table_status(cellpadding="0" cellspacing="0" style="display:none")
        %tr
          %td(style="text-align:left;vertical-align: middle")
            %select#customer-table_actions(name="operation")
          %td(style="text-align:right;vertical-align: middle")
            %span#customer-table_msg.note(style="margin-bottom: 5px") &nbsp;
    #customers.ssb
      #customer-search_overlay.hide
        %p 顾客信息正在更新&hellip;
      %table#customer-table.data.row-space.select-table(cellspacing="0" cellpadding="0")
        %thead
          %tr#customer-search_customer
            %th.nosort(style="width: 16px")
              %input#customer-table_selectall(type="checkbox" autocomplete="off")
            %th.sortcol(data-value="last_name_sortable") 姓名
            %th &nbsp;
            %th.sortcol(data-value="location") 地址
            %th.sortcol(data-value="total_spent" style="text-align: right; padding-right: 4px ! important; background-position: 5% center ! important;") 消费金额
            %th.sortcol(data-value="customers_count") 订单数
            %th.sortcol(data-value="last_customer_date") 最近订单
        %tbody#customer-table_list.ssb
      #customer-search_empty.c(style="display:none;") 没有顾客信息符合查询条件.
    #customer-search_pagination
.box2.clearfix
  .fl
    %p
      顾客帐号被
      %strong 启用
      并且
      %strong 可选
      \.
      %a(href="/admin/payments#customer-accounts") 修改这些配置
  .fr
    每页显示条数:
    %select#customer-search_limit(style="width:60px")
      %option(value="25")
        25
      %option(value="" selected="selected")
        50
      %option(value="100")
        100
      %option(value="250")
        250
#display_message.display_message(style="display:none;")
#hidden-content(style="display:none;")
  %a#hidden-closure-link.closure-lightbox(href="/admin/customers/tag_form" title="Tag Customers") 新增标记
  #add-note
    #customer-note.message
      #customer-note_body
      %form#customer-note_form
        %textarea(name="customer[note]")
        %input#customer-note_customer_id(type="text" name="customer-note_customer_id")
        %p
          %input#customer-note_submit.btn(name="commit" type="submit" value="Save note")
          或者
          %a(href="#" onclick="customernote.toggleForm(); return false;") 取消
  #save_customer_group
    %form#create_customer_group.clearfix
      %p(style="font-size:12px; margin-bottom:10px; color:#777;") 输入顾客分组的名称
      %input#new_group_name.name(name="customer_group[name]")
      %input#save_group_button.btn(type="submit" value="保存")

%script(id="show-customer-item" type="text/x-jquery-tmpl")
  %td(style="padding-top: 5px")
    %input.selector(autocomplete="off" style="margin: 3px 0" type="checkbox")
  %td.customer-name
    %a.customer-link(href="/admin/customers/{{{id}}}") {{{name}}}
    .display_message.clearfix(id="customer-display-{{{id}}}" style="display:none;")
      .customer-details
        %span.name
          %a(href="/admin/customers/{{{id}}}") {{{name}}}
        %span.marketing 接受营销邮件
        %span.phone-number {{{phone}}}
        %span.info
          %a.skype(href="skype://{{{phone}}}") 通过Skype拨打电话
          %a.email(href="mailto:{{{email}}}") {{{email}}}
  %td
    %a.customer-display-link(href="#" onclick="return false;")
      %span.contact-details.customer-display-link(data-popup-id="customer-display-{{{id}}}") i
  %td shenzhen CN
  %td.r {{{total_spent}}}
  %td.c {{{orders.length}}}
  %td
    {{#if order}}
    %span.note
      %a(href="/admin/orders/{{{order.id}}}") {{{order.name}}}
      {{{date order.created_at}}}
    {{/if}}

%script(id="customer-group-item" type="text/x-jquery-tmpl")
  %a.delete(href="/admin/customer_groups/{{{id}}}" data-confirm="您确定要删除吗?")=image_tag('admin/icons/trash.gif')
  %h3 {{{name}}}
  %ul.filters
    %li(style="display:none" data-filterset="accepts_marketing:1")
  %a.update.btn(href="/admin/customer_groups/{{{id}}}" style="display:none") 更新
%script(id="customer-search_filters-item" type="text/x-jquery-tmpl")
  .filter-tag.last_order_date
    %span.label-text {{{condition_name}}} {{{value_name}}}
    %a.close-filter-tag(href="#") x

:javascript
  App.init = function(){
    new App.Controllers.Customers.Index();
    Backbone.history.start();
  }

  secondary_filters = {
    integer: #{secondary_filters_integer.to_json},
    date: #{secondary_filters_date.to_json},
    boolean: #{secondary_filters_boolean.to_json},
    status: #{secondary_filters_status.to_json}
  }

  App.customers = new App.Collections.Customers();
  App.customer_groups = new App.Collections.CustomerGroups();
  App.customers.refresh(#{customers_json});
  App.customer_groups.refresh(#{customer_groups_json});
  new App.Views.Customer.Index.Index({collection: App.customers})
  new App.Views.CustomerGroup.Index.Index({collection: App.customer_groups})
