- @current_signup = :current
=content_for :stylesheets do
  = stylesheet_link_tag "signup", "jquery.fancybox-1.3.4"
  /[if IE]
    = stylesheet_link_tag "ie-signup"
=content_for :javascripts do
  = javascript_include_tag :signup_application

#banner
  .content
    %h1(style="font-family:hevletica arial sans-serif") 注册
  / .content
/ #banner
.content.subpage
  #signup
    %form#shop_new.shop_new(action="#" method="post" onsubmit="return false")
      #info
        #errorExplanation(style='display: none')
          %h3 创建帐号时发生以下错误:
      #top-section.section
        %h3 给您的商店取个名字
        %p
          %input#shop_name(name="shop[name]" size="22" style="font-size: 20px; width: 400px" type="text")/
        %label#subdomain-label(for="domain_subdomain") 您的ShopQi商店Web地址
        #domain-field
          %label#protocol(for="domain_subdomain") http://
          %input#domain_subdomain.large(name="domain[subdomain]" size="22" type="text")/
          %span#spinner(style="display: none")=image_tag 'spinner.gif'
          %span(style="display: none")
            %select#domain_domain(name="domain[domain]")
              %option(value="#{Setting.store_host}")=Setting.store_host
          %span#myshopqi=store_host_with_port
          #preview-availability
            #ajax-notice(style="display:none;")
            %span#domain-available
        %p.hint.clear
          如果您拥有像
          %strong www.example.com
          这样的顶级域名，您可以稍候在后台管理中绑定它
        #current-theme(style="display:none")
          =image_tag 'themes/themestore.jpg', id: 'theme-image'
          %p
            %a(href="#") 选择其他主题
      #themes-section.section
        %h3 选择一个主题外观
        %p#theme-hint.note
          不确定选择哪一个?可以任选一个，或者
          = succeed "," do
            %a(href="#") 跳过这一步
          您可以迟点再修改它.
        %ul#initial-themes.themes
        %ul#more-themes.themes.clearfix(style="display: none")
          %li#themestore.theme
            =link_to image_tag('themes/themestore.jpg', style: "width: 198px; height: 254px; z-index: 2"), theme_store_url_with_port
        %input#selected-theme(name="shop[themes_attributes][][theme_id]" type="hidden" value="")
        %a#show-more-themes.box.clear(href="#") 显示更多主题
      .section
        %h3(style="margin-bottom: 24px") 关于您
        .sidebox
          %h4
            其他信息
            %span.hint 非必填
          -#
            %p.note 让我们了解多一些，以便为您提供更好的服务.
          %label(for="signup_source") 您是从哪里得知ShopQi?
          %select#signup_source(name="signup_source")
            %option(value="I am not sure") 我不确定
            %option(value="Referral from a company") 其他公司介绍
            %option(value="Referral from a friend") 朋友介绍
            %option(value="Blog post") 博客
            %option(value="Web search") 搜索引擎
            %option(value="Web advertisement") 网络广告
            %option(value="Magazine advertisement") 杂志广告
            %option(value="Article online or in print") 书籍
            %option(value="other") 其他
        .clear
          %label.inlined(for="user_name") 姓名
          %input#user_name.input-text.full(name="user[name]" size="18" type="text")
        .clearfix.inline-form-select.region
          =select_tag "shop[province]", options_for_select(District.list), {prompt: '--省份--', style: 'width: 111px'}
          =select_tag "shop[city]", nil, {prompt: '--城市--', style: 'width: 111px'}
          =select_tag "shop[district]", nil, {prompt: '--地区--', style: 'width: 111px'}
          %em#shop_province_message(style="display: none; color: #fff")
        .multi-input.clearfix
          %span
            %label.inlined(for="shop_address") 地址
            %input#shop_address.input-text.large(name="shop[address]" size="20" type="text")
          %span
            %label.inlined(for="shop_zip_code") 邮编
            %input#shop_zip_code.input-text.small(name="shop[zip_code]" size="16" type="text")/
        %label.inlined(for="shop_phone") 电话
        %input#shop_phone.input-text.large(name="shop[phone]" size="18" type="text")/
        %h4 您的登录信息
        %label.inlined(for="user_email") Email地址
        %input#user_email.input-text.large(name="user[email]" size="26" type="text")/
        .toggle
          %label.inlined(for="user_password") 密码
          %input#user_password.input-text.large(autocomplete="off" name="user[password]" size="26" type="password" value="")/
        .toggle
          %label.inlined(for="user_password_confirmation") 确认密码
          %input#user_password_confirmation.input-text.large(autocomplete="off" name="user[password_confirmation]" size="26" type="password" value="")/
        .multi-input.clearfix
          %span
            %label.inlined(for="user_phone") 手机
            %input#user_phone.input-text.large(name="user[phone]" size="18" type="text")
          %span#user_phone_hint.hint(style='display:none') 请输入正确的手机号码
          %span
            %input#check_phone(type="button" value="获取验证码")
        %label.inlined(for="phone_verify_code") 手机验证码
        %input#phone_verify_code.input-text.large(name="verify_code" size="26" type="text")
      .block.cl
        %h3 服务条款
        %dl
          %dd#user-agreement
            %p 注册前您需要同意ShopQi的服务条款.
            %p
              %input#shop_terms_and_conditions(style="display: inline; margin-bottom: 0" type="checkbox" value="1")
              %label#terms-and-conditions-label(for="shop_terms_and_conditions")
                我已经阅读并同意
                %a(href="#") 服务条款
        %p.btns(style="margin-bottom: 0; clear: left")
          %input(name="shop[plan]" type="hidden" value="#{params[:plan]}")
          %input(name="ref" type="hidden" value="")
          %input#shop_submit(name="commit" type="submit" value="创建我的ShopQi商店")
/ content

%script(id="theme-item" type="text/x-handlebars-template")
  %img(src="/s/theme/screenshots/{{{id}}}/main/signup_original.jpg" style="width: 198px; height: 254px; z-index: 2;")
  .pick.transparent
    %a.btn.preview(href="/s/theme/screenshots/{{{id}}}/main/original.jpg" rel="theme-group" title="{{{name}}}") 预览主题
    %a.btn.next(href="#" title="{{{name}}}") 选择此主题
%script(id="available-item" type="text/x-handlebars-template")
  {{#if available}}
  %span.negative
    抱歉，{{{domain}}} 已经
    %strong 被使用了
    \.
  {{else}}
  %span.positive
    恭喜，{{{domain}}}
    %strong 可以使用
    \.
  {{/if}}

:javascript
  App.themes = new App.Collections.Themes(#{themes_json});
  App.redirect_url = '#{store_host_with_port}/admin' //注册成功跳转
  new App.Views.Signup.Index({collection: App.themes});
