{% paginate collection.products by 9 %}{% if settings.subnav == "enabled" %}{% include "subnav" %}
{% endif %}<!-- START EXCERPT -->
<div id="excerpt">
	<h1 class="title{% if collection.description.size > 0 %}{% else %} nodesc{% endif %}">{{ collection.title | escape }}</h1>{% if collection.description.size > 0 %}
	{{ collection.description }}{% endif %}
</div>
<!-- END EXCERPT -->{% if collection.products.size > 0 %}
<!-- START PRODUCTS -->
<ul id="products" class="clear">{% for product in collection.products %}
	<!-- START PRODUCT {{ forloop.index }} -->
	<li{% cycle '', '', ' class="end"' %}>
		<!-- START IMAGE -->
		<div class="image">
			<div class="align">
				<div><a href="{{ product.url | within: collection }}"><img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" /></a></div>
			</div>
		</div>
		<!-- END IMAGE -->{% if settings.price_image == "none" %}
		<h5>{{ product.price | money }}</h5>{% else %}
		<h3>{{ product.price | money }}</h3>{% endif %}
		<h4><a href="{{ product.url | within: collection }}">{{ product.title | escape | truncate: 25 }}</a></h4>
	</li>
	<!-- END PRODUCT {{ forloop.index }} -->{% endfor %}
</ul>
<!-- END PRODUCTS -->{% if paginate.pages > 1 %}
<!-- START PAGINATE -->
<div id="paginate">
	<div>
		{{ paginate | default_pagination }}
	</div>
</div>
<!-- END PAGINATE -->{% endif %}{% else %}
<p id="empty">There are no products in this collection.</p>{% endif %}{% endpaginate %}