{% if settings.intro == "enabled" %}<!-- START INTRO -->
<div id="intro">
	<h1>{% if settings.intro_text.size > 0 %}{{ settings.intro_text | escape }}{% else %}Howdy! You can change this text from the theme editor in your admin.{% endif %} <a href="{% if settings.intro_link.size > 0 %}{{ settings.intro_link | strip_html | strip_newlines }}{% else %}/admin/themes/current{% endif %}">{% if settings.intro_link_text.size > 0 %}{{ settings.intro_link_text | escape }}{% else %}Update...{% endif %}</a></h1>
</div>
<!-- END INTRO -->
{% endif %}<!-- START PRODUCTS -->
<ul id="products" class="clear">{% for product in collections.frontpage.products %}
	<!-- START PRODUCT {{ forloop.index }} -->
	<li{% cycle '', '', ' class="end"' %}>
		<!-- START IMAGE -->
		<div class="image">
			<div class="align">
				<div><a href="{{ product.url | within: collections.all }}"><img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" /></a></div>
			</div>
		</div>
		<!-- END IMAGE -->{% if settings.price_image == "none" %}
		<h5>{{ product.price | money }}</h5>{% else %}
		<h3>{{ product.price | money }}</h3>{% endif %}
		<h4><a href="{{ product.url | within: collections.all }}">{{ product.title | escape | truncate: 25 }}</a></h4>
	</li>
	<!-- END PRODUCT {{ forloop.index }} -->{% endfor %}
</ul>
<!-- END PRODUCTS -->