{% paginate search.results by 9 %}<h1>Search Results</h1>{% if search.results.size > 0 %}
<!-- START RESULTS -->
<ul id="results" class="clear">{% for item in search.results %}
	<!-- START RESULT {{ forloop.index }} -->
	<li{% cycle '', '', ' class="end"' %}>{% if item.featured_image %}
		<!-- START IMAGE -->
		<div class="image">
			<div class="align">
				<div><a href="{{ item.url | within: collections.all }}"><img src="{{ item.featured_image | product_img_url: "medium" }}" alt="{{ item.title | escape }}" /></a></div>
			</div>
		</div>
		<!-- END IMAGE -->{% if settings.price_image == "none" %}
		<h5>{{ item.price | money }}</h5>{% else %}
		<h3>{{ item.price | money }}</h3>{% endif %}
		<h4><a href="{{ item.url | within: collections.all }}">{{ item.title | escape | truncate: 25 }}</a></h4>{% else %}
		<!-- START DESC -->
		<div class="desc">
			<p>{{ item.content | strip_html | strip_newlines | truncate: 300 | highlight: search.terms }}</p>
		</div>
		<!-- END DESC -->{% if settings.price_image == "none" %}
		<h5>&nbsp;</h5>{% else %}
		<h3>&nbsp;</h3>{% endif %}
		<h4><a href="{{ item.url }}">{{ item.title | escape | truncate: 25 }}</a></h4>{% endif %}
	</li>
	<!-- END RESULT {{ forloop.index }} -->{% endfor %}
</ul>
<!-- END RESULTS -->{% if paginate.pages > 1 %}
<!-- START PAGINATE -->
<div id="paginate">
	<div>
		{{ paginate | default_pagination }}
	</div>
</div>
<!-- END PAGINATE -->{% endif %}{% else %}
<p id="empty">Your search for "{{ search.terms | escape | downcase }}" did not yield any results.</p>{% endif %}{% endpaginate %}