<div>
  <h2>{{ shop.name | capitalize }} Blog </h2>


  <div class="col-8 clearfix">


<div class="article clearfix ">
<div class="col-1 date">
    <span class="month">{{ article.created_at | date: "%b" }}</span>
  <span class="day">{{ article.created_at | date: "%d" }} </span>
    <span class="year">{{ article.created_at | date: "%Y" }} </span>
</div><!-- .col-1 date -->

<div class="col-7 last">
  <h3>
    <a href="{{article.url}}">{{ article.title }}</a>
  </h3>
  {% if blog.comments_enabled? %}<p class="comments"><a href="#comments">{{ article.comments_count }} comments</a></p>{% endif %}


  <div class="article-content">
    {{ article.content }}
  </div><!-- article-body -->
</div><!-- .col-7 -->
</div><!-- .article  -->


{% if blog.comments_enabled? %}
<div id="comments">
  <h2>Comments</h2>
  <!-- List all comments -->
  <ul>
  {% for comment in article.comments %}
    <li>
      <div class="comment-details">
  		  Posted by <strong>{{ comment.author }}</strong> on <em>{{ comment.created_at | date: "%B %d, %Y" }}</em>
      </div>
      <div class="comment">
        {{ comment.content }}
      </div>
  	</li>
  {% endfor %}
  </ul>

  <!-- Comment Form -->
  {% form article %}
    <h3>Leave a comment</h3>
    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="notice">
          Successfully posted your comment.<br />
          It will have to be approved by the blog owner first before showing up.
        </div>
      {% else %}
        <div class="notice">Successfully posted your comment.</div>
      {% endif %}
    {% endif %}

    <dl>
      <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
      <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
      <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">Your comment</label></dt>
      <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
    </dl>

    {% if blog.moderated? %}
      <p class="hint">Comments have to be approved before showing up</p>
    {% endif %}

    <input type="submit" value="Post comment" />
  {% endform_tag %}
</div>
{% endif %}
  </div><!-- col-8 -->

  <div class="col-4 last">

    <h3>Recent Posts</h3>
    {% include 'recent-posts' %}

  </div><!-- .col-4 -->

</div>
