<table id="product-listings">

  {% tablerow product in collections.frontpage.products cols: 4 limit: 12 %} 
    <a href="{{ product.url | within: collections.frontpage }}" title="{{ product.title }}">
      <img src="{{ product.images.first | product_img_url: 'medium' }}" width="185" alt="{{ product.title | escape }}" />
    </a>
    <a href="{{ product.url |  within:  collections.frontpage }}">{{ product.title }}</a>
    <strong>{{ product.price | money }}</strong>

  {% endtablerow %}

</table>
	