<div class="col-9 search">  
  <h2>Search for something</h2>
  
  <form action="/search" method="get">
    <p><input type="text" name="q" value="{{search.terms  | escape}}" id="result-q"   /> <input type="submit" value="Search" /></p>
  </form>
  
  {% if search.performed %}

    {% paginate search.results by 10 %}  
  
    {% if search.results == empty %}  
      <p>Your search for <strong>"{{search.terms | escape}}"</strong> didn't seem to get any results. Sorry about that.</p>              
    {% else %}  
    <div class="search-results">
      
 
    <h2>Search results</h2>
        <ul>
        {% for item in search.results %}      
        <li>
          
          {% if item.featured_image %}
                  <div class="thumbnail"><a href="{{item.url}}" title="">{{ item.featured_image | product_img_url: 'thumb' | img_tag }}</a></div>
           {% endif %}

            <div class="search-content">
                <h3>{{ item.title | link_to: item.url }}</h3>
              <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
            </div><!-- .search-content -->

        </li>
        {% endfor %}
        </ul>      
   </div><!-- .search-results -->
    {% endif %}
  
    <p>{{ paginate | default_pagination }}</p>
    {% endpaginate %}    
  {% endif %}

</div><!-- col-9 -->

<div class="col-3 last">
  <h3>Featured Products</h3>
  <ul class="featured-products">
      {% for product in collections.frontpage.products limit:3 %}
      <li>
        <!-- <h4><a href="{{ product.url }}">{{ product.title }}</a></h4> -->
        <a href="{{ product.url }}">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>
      </li>
      {% endfor %}
  </ul>
</div><!-- .col-3 last -->