%h2#title
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
-if params[:launched]
  #launched-store.clearfix
    =image_tag 'admin/icons/progressbar/launched.jpg'
    .launched-message
      %h1 您已经启用商店，恭喜您!
      %p
        =link_to shop.primary_domain.host, shop.primary_domain.url
        已经可以访问，随时可以接受订单
      %ul.share-your-store
.col-12.last
  #dashboard-facts.box2
    %ul
      -[:today,:yesterday,:last_week].each do |k|
        %li
          %p.big==¥#{statistics[k][:price]} RMB
          %span==#{statistics[k][:des]}
          %p==#{statistics[k][:size]}个订单
      %li
        %p.big==#{statistics[:total][:size]}
        %span==#{statistics[:total][:des]}
      %li
        %p.big==#{statistics[:total_product][:size]}
        %span==#{statistics[:total_product][:des]}
      %li.last
        %p.big==#{statistics[:skus][:size]}
        %span==#{statistics[:skus][:des]}
.col-8
  -if shop.payments.empty?
    #account-status.announcement(style="margin: 2em 5em")
      %h3 欢迎!
      %p(style="margin-top:0.5em") ShopQi已经为您安装好了商店程序，您可以录入您的商品。在您向顾客销售商品之前，您需要告诉我们如何向顾客收取货款。
      %p(style="margin-top:1em")
        为此，现在请您
        %a(href="/admin/payments/") 选择一个支付网关
        \.
        如果您不确定如何选择，我们推荐您选择
        %a(href="https://www.alipay.com" target="_blank") 支付宝
  #stats-spinner(style="display:none") 更新中…
  #stats
  #recent-activity
    %h3.sb 最新的活动记录
    %table#events.data{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        =render partial:"activity", collection: activities
  -#
    %p#upgrade.box2
      *
      %a{:href => "/admin/account"} Upgrade your plan
      to utilize full statistics including a draggable bar graph, a list of
      top referrers, search terms, a traffic breakdown, and percentage of hits
      by country of origin.
.col-4.last.sidebar
  %h3 最近的订单
  -if recent_orders.blank?
    %p.note 您目前没有订单
  -else
    %ul#dashboard-orders
      -recent_orders.each do |order|
        %li
          %p.note==#{order.created_at.to_s(:short)}
          =link_to order.name, order_path(order)
          \- ¥#{order.total_price}
  -unless recent_comments.blank?
    %h3.sst 最新的博客评论
    %ul#dashboard-comments
      -recent_comments.each do |comment|
        -article = comment.article
        %li
          %p
            %a(href= "#{comments_path(blog_id: article.blog.id,article_id: article.id)}")
              %span.yesterday==#{comment.created_at.to_s(:short)}
              由 #{comment.author} 评论
          %p.note=truncate(comment.body,length: 10)
  %h3.sst 用户
  %ul#user-table.nobull
    -shop.users.each do |u|
      %li.box2
        =image_tag u.gravatar_url, id: 'gravatar'
        =link_to u.name,"#users/#{u.id}",:class => "closure-lightbox"
        -if u.is_admin?
          %span.state.owner 帐户所有者
        %br/
        %small.note
          -if u.last_sign_in_at
            ==最后登录:#{distance_of_time_in_words(u.last_sign_in_at ,Time.now)}
          -else
            该用户到目前为止，没有登录过
=render partial:"show_user"

:javascript
  new App.Controllers.Users();
