-use_kindeditor
-use_javascripts 'backbone/models/product', 'backbone/views/products/show/index', 'backbone/views/products/show/show', 'backbone/views/products/show/edit', 'backbone/views/product_options/edit', 'backbone/views/product_options/show', 'backbone/views/product_options/index', 'backbone/views/products/show/variants/index', 'backbone/views/products/show/variants/new', 'backbone/views/products/show/variants/show', 'backbone/views/products/show/variants/quick_select', 'backbone/controllers/products'

%h2#product_title= link_to product.title, "/products/#{product.handle}", title: '在网店中查看此页面', target: '_blank'
#action-links
  %ul
    %li.no-icon
      %a.edit-btn(href="#") 修改
    %li.no-icon
      %a.dup-btn(href="#") 复制此商品
    %li.no-icon
      = link_to image_tag('admin/icons/trash.gif'), product_path(product), method: :delete, confirm: '您确定要删除此商品吗?', title: '删除它', class: :del

=form_for product, url: duplicate_product_path(product), method: :post, html: {id: 'new_product'} do |f|
  =hidden_field_tag 'new_product[title]'
.st
  #product-summary
    - if params[:new_product]
      #create-more-products.box2.message.sb
        %h3
          还有商品?
          =link_to '增加另一个商品', new_product_path
    %table(cellpadding="0" cellspacing="0" style="width:100%")
      %tr
        %td#product-details
          #product

          #product-edit.hide
        %td#product-right-col(style="width: 275px; padding: 0 0 0 10px")
          %h3.section-header(style="margin-bottom: 0") 商品图片
          #product-image-area.group
            #image-show-area=render partial:'upload_photos',locals:{product:product}
            #upload-label.action-container
              .action-link.c(style="border-bottom: none")
                %span
                  %a.show-upload-link
                    %span.plus +
                    上传图片
            .clearfix
          #upload-area.hide
            %p#status.hide
              =image_tag 'admin/icons/trash.gif', alt: '删除'
              =image_tag 'spinner.gif',class: 'fr st pad', alt: 'Spinner'
            =form_for [product,photo], html: { multipart: true },remote: true do |p|
              %h4.st 上传图片
              %p.note 允许上传文件类型( .gif, .jpg, .jpeg, .png)
              %p#file-input.st.sb
                =p.file_field :product_image,id:"add-file",onchange: "$('#new_photo').submit();"
          .sst.pl
            %h3 商品可见性
            %p.sb.note
              如果你不需要此商品显示在您的商店中，您可以设置它的可见性为
              %em 隐藏
              \.
            =form_for product, url: update_published_product_path(product), remote: true, html: {id: 'product_publicshed_form'} do |f|
              =f.select :published, publish_states, {}, style: "width: 120px; font-size: 13px", onchange: "$('#product_publicshed_form').submit();"
  #variant-inventory.pgroup
    %h3.sb 库存
    %form#batch-form(action='#' onsumbit='return false')
      #variant-options.note(style="margin:10px 0")
      %table#product-controls.hide(cellpadding="0" cellspacing="0")
        %tr
          %td(style="text-align:left;")
            %select#product-select(name="operation")
            %span#new-value.hide
              %input(type="text" name="new_value" size="10" value="")
              %input(type="submit" value="保存")
              =w('or')
              %a.cancel(href="#")=w('cancel')
          %td(style="text-align:right; color: #333")
            %span#product-count.note &nbsp;
    %table#product-table.data(style="font-size: 12px;" cellpadding="0" cellspacing="0")
      %tr#row-head
    %ul#variants-list
    #new-variant-link.action-row
      .action-link
        %p
          %a(href="#")
            %span.plus +
            新增款式
  #new-variant.hide

%script(id="show-product-item" type="text/x-handlebars-template")
  #product-body.textile.ssb
    %table.data.table-wrapper(cellpadding="0" cellspacing="0")
      %tr
        %th.section-header 描述
      %tr
        %td(style="padding: 10px; font-size: 12px")
          %p {{{body_html}}}
  #product-options.section
    %table.data(cellpadding="0" cellspacing="0")
      %tbody
        %tr
          %th.section-header(colspan="2") 属性
        %tr
          %td.cell-title
            %strong 商品类型:
          %td.middle.cell-data
            %span#product-type.small {{{product_type}}}
        %tr
          %td.cell-title
            %strong 商品生产商:
          %td.middle.cell-data
            %span#product-vendor.small {{{vendor}}}
        %tr
          %td.cell-title
            %strong 库存:
          %td.middle.cell-data &infin;
      %tbody#product-options-list
  #tagging.section
    #product-tags
      %table.data(cellpadding="0" cellspacing="0")
        %tr
          %th.section-header 标签
        %tr
          %td(style="padding: 15px 10px;")
            %ul#tags
              {{#each tags}}
              %li
                %span.list-box {{this}}
              {{/each}}
            {{#unless tags}}
            %p 您还没有添加任何标签到此商品.
            {{/unless}}
  .section
    #product-collections
      %table.data(cellpadding="0" cellspacing="0")
        %tr
          %th.section-header 集合
        %tr
          %td(style="padding: 15px 10px 0 10px;")
            {{#unless collections}}
            %p 此商品不属于任何集合.
            {{else}}
            %p 此商品属于以下集合:
            {{/unless}}
            %ul.product-collection-list.pgroup
              {{#each collections}}
              %li
                %a(href="/admin/custom_collections/{{id}}") {{title}}
              {{/each}}

%script(id="edit-product-item" type="text/x-handlebars-template")
  =form_for product, class: :edit_product, html: {id: 'product-detail-form', onsubmit: 'return false;'} do |f|
    #product-body-edit.sb
      .section-header
        %strong 修改此商品
      .padding
        #errors_for_product
        %dl(style="background: none; margin-bottom: 0")
          %dt=f.label :title, nil, style: "margin: 0", for: :title
          %dd=text_field_tag :title, '{{{title}}}', class: [:big, :sb]
          %dt#edit-handle-label
            链接/处理
            %span.note
              (
              %a(href="#{wiki_url_with_port}/Handle" target="_blank") 这是什么?
              )
          %dd#edit-handle.ssb
            %span.note==#{shop.primary_domain.url}/products/
            =text_field_tag :handle, '{{{handle}}}', style: 'width: 160px'
          %dt=f.label :body_html
          %dd=text_area_tag :body_html, '{{body_html}}', id: 'kindeditor', style: "width: 895px; height: 200px;"
    #product-options-edit.section
      %table#product-properties.data.sb(cellpadding="0" cellspacing="0")
        %tr
          %th.section-header(colspan="2") 属性
        %tr
          %td.cell-title
            %strong 商品类型:
          %td
            %select#product-type-select
              =options_for_select types_options
            #new_product_type.st.sb.hide
              %h4.note 新的商品类型
              =text_field_tag :product_type, '{{{product_type}}}'
        %tr
          %td.cell-title
            %strong 商品生产商:
          %td
            %select#product-vendor-select
              =options_for_select vendors_options
            #new_product_vendor.st.sb.hide
              %h4.note 新的商品生产商:
              =text_field_tag :vendor, '{{{vendor}}}'
        %tr#add-option-bt.hide
          %td.cell-title
            %a.add-option(href="#") 新增另一个选项
            %br
            %span.note 例如. 颜色, 大小
          %td &nbsp;
    #product-edit-tags
      .section-header 标签
      %dl.padding(style="background: none; margin: 0;")
        %dd#multi-options
          %p.note.sb 标签之间以逗号分隔.
          =text_field_tag :tags_text, '{{{tags_text}}}', size: 50, id: :product_tags_text
        %dd.sst
          %p.note(style="clear: both") 最近使用过的标签，单击增加.
          %ul#tag-list.nobull.st
            -tags.each do |tag|
              %li
                %a(href="#")=tag.name
          .cl
    #product-edit-collections
      .section-header 集合
      %p.note(style="margin: 10px 0px 5px 5px;") 选择此商品所属的自定义集合:
      %ul.nobull.pgroup.clearfix=render partial: "collection", collection: custom_collections
    .group-actions
      =f.submit "保存", id:"update-options", class: :btn
      =w('or')
      %a.cancel(href="#")=w('cancel')
%script(id="row-head-item" type="text/x-handlebars-template")
  %th(class="checkbox-cell")
    %input#select-all(type="checkbox")
  {{#each_with_index options}}
  %th(id="option-header-{{index_plus}}" class="option-{{index_plus}}" style="width:15%;") {{item.attributes.name}}
  {{/each_with_index}}
  %th(style="min-width: 150px") SKU
  %th.price-cell(style="width: 90px;")
    价格
    %span.note 元
  %th.qty-cell(style="width:50px") 库存量
  %th.action-cell(style="width: 70px;") &nbsp;
%script(id="show-variant-item" type="text/x-handlebars-template")
  =render partial: "admin/product_variants/show"
%script(id="new-variant-item" type="text/x-handlebars-template")
  =render partial: "admin/product_variants/new"
%script(id="variant-options-item" type="text/x-handlebars-template")
  选择:
  %a(href="#" style="color:#000") 所有
  %a(href="#" style="color:#000") 清空
  {{#each_with_index options}}
  %span(class='option-{{index_plus}}')
    {{#each_variant_option ../this index=index_plus}}
    %a(href="#") {{name}}
    {{/each_variant_option}}
  {{/each_with_index}}
%script(id="edit-option-item" type="text/x-handlebars-template")
  %td.cell-title
    .option-selector-frame
      %select.option-selector=options_for_select options
      %input.hide(name="product[options_attributes][][name]" size="16" style="margin-top: 5px;" type="text" value="{{{name}}}")
  %td
    %input(type="hidden" value="0" name="product[options_attributes][][_destroy]")
    %input(type="hidden" value="{{{id}}}" name="product[options_attributes][][id]")
    {{#unless id}}
    %input(type="text" name="product[options_attributes][][value]" size="16" value="{{{value}}}")
    {{/unless}}
    %span.option-value.small {{{variants_option0}}}
    %span.fr.sr(style="margin-top: 5px")
      %a.del-option(href="#" tabindex="-1")
        =image_tag 'admin/icons/trash.gif', alt: '删除', class: [:fr, 'delete-option-link']
      .option-deletemsg.hide
        %p.small.highlight-alt
          {{{name}}}将被删除.
          %a.resume-option(href="#") 恢复
%script(id="show-option-item" type="text/x-handlebars-template")
  %td.cell-title(class="option-{{{position}}}")
    %strong {{{name}}}
  %td.option-values-show.middle.cell-data
    %span.small {{{options}}}
%script(id="product-select-item" type="text/x-handlebars-template")
  %option(value="" style="color: #888") 选择操作&hellip;
  %option.indent(value="price") 修改价格
  %option.indent(value="inventory_quantity") 修改库存量
  %option.indent(disabled="disabled" value="destroy") 删除
  %optgroup(label="复制款式&hellip;")
    {{#each_with_index options}}
    %option(id="dup-option-{{index_plus}}" disabled="disabled" value="duplicate-{{index_plus}}") &hellip;使用另一个{{{item.attributes.name}}}
    {{/each_with_index}}

:javascript
  App.init = function(){
    new App.Controllers.Products();
    Backbone.history.start();
  }
  App.product = new App.Models.Product(#{product_json});
  App.product.url = "#{product_path(product)}";
  App.product_variants = new App.Collections.ProductVariants();
  App.product_variants.refresh(#{variants.to_json(except: [ :created_at, :updated_at ])});
  new App.Views.Product.Show.Index({model: App.product})

  task_name = 'add_product';
