<div id="page">
  <h2>{{page.title}}</h2>
  {% paginate blog.articles by 20 %}
  
  {% for article in blog.articles  %}
  <div class="article">
    <div class="headline">
      <div class="date">
        <h4>{{ article.created_at | date: "%h" }}<br />
          {{ article.created_at | date: "%d" }}</h4>
      </div>
      <div class="title">
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      </div>
    </div>
    <div class="article-body textile"> {{ article.content }} </div>
  </div>
  {% endfor %}
  <div id="pagination"> {{ paginate | default_pagination }} </div>
  {% endpaginate %} </div>
