<h2>Your Shopping Cart</h2>
{% if cart.item_count == 0 %}
<h3>Your cart is empty</h3>
<p><a href="/"><img src="{{ 'continueshopping.gif' | asset_url }}" alt="continue shopping" /></a></p>
{% else %}
<form action="/cart" method="post" id="cartform" name="cartform">
  {% for item in cart.items %}
  <div id="shoppingcart">
    <div class="shoppingcart-image"> <img src="{{ item.product.images.first | product_img_url: 'medium' }}" alt="{{ item.title | escape }}" /> </div>
    <div>
      <h3>{{ item.title }}<br />
        {{ item.price | money }}</h3>
      <div class="updater">
        <input type="text" name="updates[]" value="{{ item.quantity }}" onfocus="this.select();" class="cart-update" />
        <input type="submit" name="update" value="Update" id="update-cart">
        <br />
        <br />
        <a href="/cart/change/{{ item.variant.id }}?quantity=0">Remove from cart</a> </div>
    </div>
  </div>
  {% endfor %}
  <div class="total">TOTAL: {{ cart.total_price | money }} {{ shop.currency }}</div>
  <div class="checkout">
    <a href="/"><img src="{{ 'continueshopping.gif' | asset_url }}" alt="continue shopping" /></a>
    <input type="image" value="Proceed to Checkout" name="checkout" src="{{ 'checkout.gif' | asset_url }}"/>

		{% if additional_checkout_buttons %}
    <div class="additional-checkout-buttons">
      <p>- or -</p>
      {{ content_for_additional_checkout_buttons }}
    </div>
    {% endif %}
    
  </div>
</form>
{% endif %}