%div.address_table(id="address_table_#{customer_address.id}")
  %div.customer_address(id= "view_address_#{customer_address.id}")
    %h4.address_title
      ==#{customer_address.address1}
      -if customer_address.default_address?
        %span.default_address.note(style='color: red')
          默认地址
    %p.address_actions
      %span.action_link.action_edit
        =link_to '编辑','#', onclick: "$('#view_address_#{customer_address.id}').hide();$('#edit_address_#{customer_address.id}').show(); return false"
      %span.action_link.action_delete
        =link_to '删除',customer_address_path(customer_address), remote: true, method: :delete, confirm: '您确定要删除?', title: '删除它'
    .view_address
      %p==收货人: #{customer_address.name}
      %p==详细地址: #{customer_address.detail_address}
      %p==邮政编码: #{customer_address.zip}
      %p==电话号码: #{customer_address.phone}
      %p==公司: #{customer_address.company}
  %div.customer_address.edit_address(style= "display:none;" id="edit_address_#{customer_address.id}")
    =form_for customer_address  do |f|
      %h4#add_address_title 编辑地址
      %table.customer_address_table
        %tr
          %td.label=f.label :name
          %td.value=f.text_field :name
        %tr
          %td.label=f.label :country_code
          %td.value=f.select :country_code, countries.collect{|c|[Carmen.country_name(c.code),c.code]}
        %tr
          %td.label
            %label(for='order_billing_address_attributes_province') 地区
          %td.region
            =f.select :province, District.list, {include_blank: '--省份--'}, style: 'width: 76px'
            =f.select :city, District.list(customer_address.province), {include_blank: '--城市--'}, style: 'width: 76px'
            =f.select :district, District.list(customer_address.city), {include_blank: '--地区--'}, style: 'width: 76px'
        %tr
          %td.label=f.label :address1
          %td(style="width: 260px")=f.text_field :address1
        %tr
          %td.label=f.label :phone
          %td.value=f.text_field :phone, class: :short
        %tr
          %td.label=f.label :zip
          %td.value=f.text_field :zip, class: :short
        %tr
          %td.label=f.label :company
          %td.value=f.text_field :company, class: :short
        %tr
          %td.label
          %td.value
            =f.check_box :default_address
            将此地址作为默认收货地址?
      .action_bottom
        =f.submit w('save'),class: 'btn'
        %span
          =w('or')
          =link_to '取消','#', onclick: "$('#edit_address_#{customer_address.id}').hide(); $('#view_address_#{customer_address.id}').show();  return false;"
%div(style='padding:5px')
