-@content_class = 'divider'

=content_for :login do
  =render 'shop'

.col-16
  #theme-download
    %h1==您即将为 #{shop_host} 网店安装 #{theme.name} 主题风格
    %p
      %a#apply-theme.standard-button(data-confirm="此操作将替换您当前的普通主题，并将它移至未发布的主题中,方便您对它进行修改和预览,您确定要替换主题吗?" data-method="post" href="/themes/#{handle}/styles/#{style_handle}/apply" rel="nofollow")
        安装并发布为我的商店的普通主题
        %br/
        %small 您当前的普通主题将修改为未发布状态
      或者
      %a(href="/themes/#{handle}/styles/#{style_handle}/download_file" onclick="alert('暂时不支持此功能');return false") 以.zip格式下载此主题
  %p.hint(style="text-align: center; margin-top: 30px;")
    选择以上任一操作表明您
    %br/
    已经阅读并同意
    = succeed "." do
      %a(href="http://checkout.shopqi.com/legal/terms.html#themes") ShopQi的服务协议
