=content_for :filter do
  #filter-bar
    %p.pointed
      %a(href="/##{session[:q]}")
        %span ‹ 返回主题商店

#overview.theme-overview.col-6
#screenshots.theme-screenshots.col-10.last
.secondary-details.clearfix
  #styles.col-16.last
#more-designer.more-themes.clearfix
%p.continuity-link
  %a(href="/##{session[:q]}")
    \&lsaquo; 返回主题商店

%script(id="overview-item" type="text/x-handlebars-template")
  %h1 {{{name}}}
  %p.summary {{{desc}}}
  .purchase
    .clearfix
      %p.price {{{budget}}}
      %p.download
        %a.standard-button.login(href="/themes/{{{handle}}}/styles/{{{style_handle}}}/download") 获取主题
        或者
        %a(href="http://{{{shop}}}#{Setting.store_host_with_port}" target="_blank")
          %span 查看示例 &rsaquo;
  %ul.theme-details
    %li
      此主题由
      %a(href="{{{site}}}") {{{author}}}
      提供官方技术支持
      %br/
      申请技术支持请发邮件至
      %a(href="mailto: {{{email}}}") {{{email}}}
  %br/
  %li
    主题作者:
    %a(href="{{{site}}}") {{{author}}}
%script(id="screenshots-item" type="text/x-handlebars-template")
  %ul
    %li
      %a.fancy-box(href="/s/theme/screenshots/{{{id}}}/main/original.jpg")
        %img(alt="Large" src="/s/theme/screenshots/{{{id}}}/main/large.jpg")
    %li
      %a.fancy-box(href="/s/theme/screenshots/{{{id}}}/collection/original.jpg")
        %img(alt="Large" src="/s/theme/screenshots/{{{id}}}/collection/thumb.jpg")
    %li
      %a.fancy-box(href="/s/theme/screenshots/{{{id}}}/product/original.jpg")
        %img(alt="Large" src="/s/theme/screenshots/{{{id}}}/product/thumb.jpg")
%script(id="styles-item" type="text/x-handlebars-template")
  %ul
    %h3 此主题包括 种风格
    %ul.theme-thumbs.packaged-styles
      {{#each styles}}
      %li
        %a(href="/themes/{{{handle}}}/styles/{{{style_handle}}}")
          %p
            %strong 风格: {{{style}}}
          %img(alt="Medium" src="/s/theme/screenshots/{{{id}}}/main/medium.jpg")
        {{#unless is_current}}
        %p.view-style-demo
          %a(href="http://{{{shop}}}#{Setting.store_host_with_port}" target="_blank") 查看示例  ›
        {{/unless}}
      {{/each}}
%script(id="more-designer-item" type="text/x-handlebars-template")
  %h4
    更多
    %a(href="#") {{{author}}}
    设计的主题
  .shelf.clearfix
    %ul#themes.theme-thumbs
%script(id="theme-item" type="text/x-handlebars-template")
  %li.theme
    %a(href="/themes/{{{handle}}}/styles/{{{style_handle}}}")
      %p
        %big {{{budget}}}
        {{#if has_style}}
        %strong.has-style {{{name}}}
        %small {{{style}}}
        {{else}}
        %strong {{{name}}}
        {{/if}}
      %img(alt="Medium" src="/s/theme/screenshots/{{{id}}}/main/medium.jpg")

:javascript
  App.theme = new App.Models.Theme(#{@theme_json});
  App.styles_json = #{@styles_json};
  App.others_json = new App.Collections.Themes(#{@others_json});
  new App.Views.Theme.Themes.Show.Index({model: App.theme});
