<div class="col-8">
<div class="post">
<div class="meta">
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <p class="date">{{ article.created_at | date: "%b %d %Y " }}
        {% if blog.comments_enabled? %}
         | <a href="{{ article.url }}#comments">{{ article.comments_count }} comments</a>
        {% endif %}
      </p>

</div><!-- .meta -->

 <div class="post-content ">
      {{ article.content }}
</div><!-- .post-content  -->
 <a href="/blogs/{{ blog.handle }}">&lsaquo; 返回此博客</a>
</div><!-- post -->



{% if blog.comments_enabled? %}
<div id="comments">
  <h3>评论</h3>
  <!-- List all comments -->

  <ul>
  {% for comment in article.comments %}
    <li>
  	<div class="comment-details">
  		  作者:{{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}
      </div>
      <div class="comment">
        {{ comment.content }}
      </div>


  	</li>
  {% endfor %}
  </ul>

  <!-- Comment Form -->
  {% form article %}
    <h3>发表评论</h3>

    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="notice">
          发表评论成功.<br />
          评论内容由管理审核通过后才能显示.
        </div>
      {% else %}
        <div class="success">发表评论成功.</div>
      {% endif %}
    {% endif %}

    {% if form.errors %}
      <div class="notice">所有输入项需要正确填写!</div>
    {% endif %}

    <dl>
      <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
      <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
      <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

      <dt><label for="comment_body">您的评论</label></dt>
      <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
    </dl>

    {% if blog.moderated? %}
      <p class="hint">评论内容由管理审核通过后才能显示</p>
    {% endif %}

    <input type="submit" value="发布评论" />
  {% endform %}
</div>
{% endif %}




</div><!-- col-8 -->

<div class="col-4 blog last">
{% include 'recent-posts' %}
</div><!-- col-4 last -->
