<h1>查询</h1>

<div id="search">

  <div class="col-16">
    <form action="/search" method="get">
     <p><input type="text" name="q" value="{{search.terms  | escape}}" size="34" id="result-q" /> <input type="submit" value="查询" /></p>
    </form>

    {% if search.performed %}
      {% paginate search.results by 10 %}
      {% if search.results == empty %}
        <p class="center-text">找不到与"{{search.terms | escape}}" 相关联的任何商品</p>
      {% else %}
          <ol>
          {% for item in search.results %}
          <li>
            <h3>{{ item.title | link_to: item.url }}</h3>
            {% if item.featured_image %}
            <div class="result-image"><a href="{{item.url}}" title="">{{ item.featured_image | product_img_url: 'thumb' | img_tag }}</a></div>
            {% endif %}
            <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
            <div style="clear:left"></div>
          </li>
          {% endfor %}
          </ol>
      {% endif %}
      <p>{{ paginate | default_pagination }}</p>
      {% endpaginate %}
    {% endif %}
  </div><!-- .col-8 -->
</div>
