%script(id="show-user-permission" type="text/x-handlebars-template")
  %td(colspan="5")
    %div(id="edit_invited_user_{{id}}" class="edit_invited_user table-slider-wrapper table-slider-ani-down")
      %form(id="edit_invited_user_1555092" class="permission_form" action="#" onsubmit="return false")
        %div(class="table-slider-content")
          %div(class="clearfix")
            %div(clas="col-1")
              %img(src="{{ default_avatar_image_url }}" width= 55 height=55 class='gravatar')
            %div(class="col-9 last")
              %dl(class="clearfix")
                {{#unless admin }}
                %dt 权限:
                %dd
                  %ul
                    {{#if can_delete }}

                    {{#if radio_checked }}
                    %li
                      %input(type="radio" name="user[permissions][]" value="full" checked="checked" class="mark_all" id="user_{{ id }}_mark_all")
                      %label {{ name }} 拥有所有权限
                    %li
                      %input(type="radio" name="user[permissions][]" value="limited_access" class="limited_access" id="user_{{id}}_limited_access")
                      %label  选择权限
                    {{else}}
                    %li
                      %input(type="radio" name="user[permissions][]" value="full"  class="mark_all" id="user_{{id}}_mark_all")
                      %label {{ name }} 拥有所有权限
                    %li
                      %input(type="radio" name="user[permissions][]" value="limited_access" checked="checked"  class="limited_access" id="user_{{id}}_limited_access")
                      %label  选择权限
                    {{/if}}

                    {{else}}

                    {{#if radio_checked }}
                    %label {{ name }} 拥有所有权限
                    {{else}}
                    %label 限制的
                    {{/if }}

                    {{/if }}
                  %div(class="permissions-table fadein")
                    %table
                      %tbody
                        %tr
                          -resource_types.each do |resource|
                            %th==#{resource.name}
                        -[0,1,2,3].each do |index|
                          %tr
                            -[1,2,3,4].each do |i|
                              -resource  = resource_hashs[i] ? resource_hashs[i][index] : nil
                              -if resource
                                %td
                                  -if current_user.is_admin?
                                    %input(type="checkbox" name="user[permissions][]" value="#{resource.id}" id="user_{{ id }}_resource_#{resource.id}")
                                    %label==#{resource.name}
                                  -else
                                    %s(id="user_{{id}}_resource_#{resource.id}_label")==#{resource.name}
                {{/unless }}
        {{#if can_delete }}
        %div(class="table-slider-actions")
          %input(name="commit" type="submit" value= "保存" class="btn")
          或者
          %a(href= "#" class='action cancel') 取消
        {{/if }}
