-payment = order.payment
-address = order.shipping_address
%p==您选择的付款方式为: #{payment.payment_type.name}
%p==点击确认支付，将前往支付中心进行付款操作！
- payment_service_for order.token, payment.partner, service: :tenpay, html: { id: 'payment-form', method: :get } do |service|
  - service.cmdno 1
  - service.date Date.today.to_s(:number)
  -# service.amount (order.total_price*100).to_i # 以分为单位
  - service.amount 1 # 以分为单位
  - service.transaction_id "#{payment.partner}#{Date.today.to_s(:number)}#{order.number.to_s.rjust(10, '0')}"
  - service.currency '1' # 人民币
  - service.return_url done_order_url
  - service.charset "utf-8"
  - service.spbill_create_ip request.remote_ip
  - service.description '商品付款'
  - service.attach 'ShopQi'
  - service.sign payment.key
.actions
  = button_to_function "确认支付", "$('#payment-form > div').remove();$('#payment-form').submit()",class:'btn'
  =w('or')
  =link_to w('cancel'),show_shop_url
