#header
  #logo
    / css hook for logos
  %h1#tagline
    %span.title=shop.name
    %span.subtitle 发货及付款
#main
  / begin overview
  #overview.clearfix
    #products
      %h2 您购买了&hellip;
      %table#thumbs(cellspacing="0" cellpadding="0")=render 'line_items', line_items: order_line_items
    #wallet
      %span#cost
        ==¥ #{ order_total_price }
        =image_tag 'spinner_big.gif', class: :spinner, style:'display:none'
      -unless shipping_rates.blank?
        %span#shipping_span.hint .. 包含快递费#{order.shipping_rate_price}元
      %br
      %span#tax_span.hint .. 包含 #{order.order_tax_price} 元 的税
      %br
      %span#steps 步骤 2 之 2
    %div(style="clear:left")
  / end overview
  #content
    =form_for order, url: "/orders/#{shop.id}/#{order.token}/commit", html: { onsubmit: 'return false' } do |f|
      #payment
        .group.clearfix
          %h3 发货方式
          .field-with-errors#shipping-rate-error(style='display:none')
            %p
              %span 您选择的快递方式已经不不存在，请选用别的方式。
          -unless shipping_rates.blank?
            %p 请选择您需要的发货方式.
            %p.sst
              %select#shipping-rates(name="order[shipping_rate]")
                =options_for_select shipping_rates.collect{|s|["#{s.name}-#{shop.format_money_in_emails(s.price)}",s.shipping_rate]}, order.shipping_rate
          -else
            %p#no-shipping-rates 对不起，由于本店暂时没有为该地区设置发货方式，所以，将不能发往该地区
      -unless shipping_rates.blank?
        .group
          %h3 购买
          %p.hint 所有的交易都是经过加密且安全的, 我们不会储存您的信用卡信息以及其他任何个人信息. 如想了解更多请浏览我们的隐私政策.
          .field-with-errors#payment-error(style='display:none')
            %p
              %span 请您选择的支付方式，若没有支付方式可供选择，请联系店主！
          .sst
            .gleft
              %span.error-message
              %ul#payment-methods
                -shop.payments.each do |gateway|
                  %li
                    =f.radio_button :payment_id, gateway.id
                    =label_tag "order_payment_id_#{gateway.id}" , gateway.name? ? gateway.name :  gateway.payment_type.name
            #pay-info.gright
          %p(style="clear:both;height: 0")
        #marketing-box.group.clearfix
          %h3 如果有更新就通知我
          %p.sst
            =check_box_tag 'buyer_accepts_marketing',true, order.customer.accepts_marketing
            %label(for="marketing" style="font-weight:normal") 我想接收关于新产品或促销以及其他更新的电子邮件.
      %table#buttons(border="0" cellspacing="0" cellpadding="0" style="height: 55px; width: 100%")
        %tr
          %td(style="vertical-align:middle")
            %input#complete-purchase(name="commit" type="submit" value="购买")
            %small#cancel-purchase
              或
              %a(href="#{shop.primary_domain.url}#{request.port_string}") 取消，然后返回商店
          %td(style="text-align:right;vertical-align:bottom")
            %span#purchase-progress(style="display:none")=image_tag 'spinner_big.gif'

