<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %meta(http-equiv="imagetoolbar" content="no")
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(name="MSSmartTagsPreventParsing" content="true")
    %title 后台管理
    = stylesheet_link_tag "admin", "shopqi", "message_block","jquery-ui-1.8.14.custom"
    = stylesheet_link_tag 'print', media: :print
    /[if lt IE 7 ]
      = stylesheet_link_tag 'ie'
    =yield :stylesheets
    = javascript_include_tag :admin, 'models/task', 'collections/tasks', 'views/tasks/checkoff', 'views/tasks/show', 'views/tasks/index'
    =yield :kindeditor
    =yield :javascripts
    = csrf_meta_tag
  %body
    #ajax-notice.hide
      %div
        %span#message.hide
    #navigation.content
      %a(href="/admin" style="position: absolute; top: 0; z-index: 30")
        =image_tag 'admin/logo-small.gif',id: 'logo-small', style: "position: absolute; top:0",alt:'logi-small'
      #utils
        %ul
          %li(style="float: left; margin-left: 60px; position: relative;")=link_to show_shop_url, show_shop_url
          %li=link_to "退出登录", destroy_user_session_path
          %li
            %a(href="/admin/account") 帐号
          %li
            %a(href="/admin/support" data-popup="true") 帮助
          %li(style="padding-top: 2px")
            #search
              %form#admin-lookup-form(action="/admin/lookup/query" method="get")
                %input#q(type="text" name="q" placeholder="查询商品..." tabindex="1")
                %div
                -#%input(type="hidden" name="bias" value="links")
      #nav.col-12.last
        %ul#navlist
          %li=link_to image_tag('admin/icons/home.gif'), user_root_path, id: is_home? && :current
          -menus.each do |menu|
            %li=link_to menu[:label], menu[:url], id: current(menu)
    #container.clearfix
      %ul#secondary
        %li#apps-link
          #apps-dropdown.nav-dropdown.dropdown.hide
            %h3 未安装应用
            %ul
              %li
            %p.nav-manage=link_to '管理应用', "javascript:msg('即将上线...')"
            %p.more
              =link_to '获取更多应用', "javascript:msg('即将上线...')"
              %span 访问应用商店
        %li#theme-link
          #theme-dropdown.nav-dropdown.dropdown.hide(style="right: 10px")
            %h3 修改网店外观
            %ul
              %li#nav-theme-settings=link_to "外观设置", settings_themes_path
              %li#nav-template-editor=link_to "模板编辑器", #assets_path
            %p.more
              =link_to '浏览外观', "#{Setting.theme_store_url}?shop_url=#{show_shop_url}"
              %span 访问外观商店
        %li#preferences-link
          #preferences-dropdown.nav-dropdown.dropdown.hide
            %h3 您的商店设置
            %ul
              %li#settings=link_to '一般设置', general_preferences_path
              %li#regions=link_to '区域&税收',countries_path
              %li#payment=link_to '支付',payments_path
              %li#shipping=link_to '快递',shipping_index_path
              -#
                %li#fulfillment
                  %a(href="https://github.shopqi.com/admin/fulfillment_services") 其他服务
              %li#email=link_to "Email & 提醒", notifications_path
              %li#network=link_to "DNS & 域名", domains_path
      #main.clearfix.col-12.last.fullscreen
        =render "shared/password_protected" if shop.password_enabled
        =yield
    #footer
      %ul
        %li
          %a(href="/community" target='_blank') 论坛
        %li
          %a(href="http://blog.shopqi.com/" target='_blank') 博客
        %li
          %a(href="#") 服务条款
        %li
          %a(href="#") 隐私声明
    #dialog-overlay.hide
    #dialog-content.hide
    #flasherrors.hide
    #flashnotice.hide
    #indicator(style="z-index: 1000; position: absolute; width: 20px; height: 20px; padding-top: 6px; padding-right: 6px; padding-bottom: 6px; padding-left: 6px; display: none; top: 1236px; left: 591px; ")
      %img(border="0" src="/images/spinner.gif")
    -unless is_home? or shop.guided
      =render 'home/progress'

    -if flash[:notice]
      :javascript
        window.onload = function(){
          msg("#{flash[:notice]}");
        }
/[if lte IE 6]
  :javascript
    $("upgrade-ie6").show();

-unless shop.guided
  :javascript
    App.tasks = new App.Collections.Tasks(#{tasks_json});
    new App.Views.Task.Index({collection: App.tasks})
