<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=UTF-8" }
    %meta{ "http-equiv" => "imagetoolbar", :content => "no" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    %title 后台管理
    = stylesheet_link_tag 'admin'
    = stylesheet_link_tag 'print', :media => "print"
    /[if lt IE 7 ]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag :admin, 'views/links/new', 'views/links/show', 'views/links/edit', 'views/link_lists/index', 'views/link_lists/new', 'views/link_lists/show', 'views/link_lists/edit', 'models/link', 'models/link_list', 'collections/link_lists', 'controllers/link_lists'
    = csrf_meta_tag
  %body
    /
      begin div.ajax-notice
    #ajax-notice{ :style => "display:none;" }
      %div
        %span#message{ :style => "display:none;" }
    /
      end div.ajax-notice
    #navigation.content
      %a{ :href => "/admin", :style => "position: absolute; top: 0; z-index: 30" }
        %img#logo-small{ :alt => "Logo-small", :src => "/images/admin/logo-small.gif?0786aff543930b75c5c67bcf1e5a7c7b7e5e1ca4", :style => "position: absolute; top: 0" }
      /
        begin div.utils
      #utils
        %ul
          %li{ :style => "float: left; margin-left: 60px; position: relative;" }
            %a{ :href => "http://github.shopqi.com", "data-popup" => "true" }
              http://github.shopqi.com
          %li
            %a{ :href => "/admin/auth/logout" }
              Logout
          %li
            %a{ :href => "/admin/account" }
              Account
          %li
            %a{ :href => "/admin/support", "data-popup" => "true" }
              Support
          %li{ :style => "padding-top: 2px" }
            #search
              %form#admin-lookup-form{ :action => "/admin/lookup/query", :method => "get" }
                %input#q{ :type => "text", :name => "q", :value => "Search shop...", :tabindex => "1" }
                %div
                %input{ :type => "hidden", :name => "bias", :value => "links" }
      /
        end div.utils
      /
        begin div.nav
      #nav.col-12.last
        %ul#navlist
          %li
            %a{ :href => "/admin" }
              %img{ :alt => "Home", :src => "/images/admin/icons/home.gif?0786aff543930b75c5c67bcf1e5a7c7b7e5e1ca4" }
          %li
            %a{ :href => "/admin/orders" } 订单
          %li
            %a{ :href => "/admin/customers" } 会员
          %li
            %a{ :href => "/admin/products" } 产品
          %li
            %a{ :href => "/admin/custom_collections" } 集合
          %li
            %a{ :href => "/admin/pages" } 文章 &amp; 页面
          %li
            %a#current{ :href => "/admin/link_lists" } 链接列表
          %li
            %a{ :href => "/admin/marketing" } 市场营销
      /
        end div.nav
    /
      begin div.container
    #container.clearfix
      %ul#secondary
        %li#apps-link
          #apps-dropdown.nav-dropdown.dropdown{ :style => "display: none;" }
            %h3
              No apps installed yet
            %p#apps-manage
              %a{ :href => "https://github.shopqi.com/admin/applications" }
                Manage apps
            %p.more
              %a{ :href => "http://apps.shopify.com" }
                Get more apps
              %span
                visit the App Store
        %li#theme-link
          #theme-dropdown.nav-dropdown.dropdown{ :style => "display: none;" }
            %h3
              Modifying Your Theme
            %ul
              %li#nav-theme-settings
                %a{ :href => "/admin/themes/current/settings" }
                  Theme Settings
              %li#nav-template-editor
                %a{ :href => "/admin/themes/current" }
                  Template Editor
            %p.more
              %a{ :href => "http://themes.shopify.com?shop=github.shopqi.com" }
                Browse Themes
              %span
                visit the Theme Store
        %li#preferences-link
          #preferences-dropdown.nav-dropdown.dropdown{ :style => "display: none;" }
            %h3
              Your store settings
            %ul
              %li#settings
                %a{ :href => "https://github.shopqi.com/admin/general_preferences" }
                  General Settings
              %li#regions
                %a{ :href => "https://github.shopqi.com/admin/countries" }
                  Regions &amp; Taxes
              %li#payment
                %a{ :href => "https://github.shopqi.com/admin/payments" }
                  Checkout &amp; Payment
              %li#shipping
                %a{ :href => "https://github.shopqi.com/admin/shipping/index" }
                  Shipping
              %li#fulfillment
                %a{ :href => "https://github.shopqi.com/admin/fulfillment_services" }
                  Fulfillment Services
              %li#email
                %a{ :href => "https://github.shopqi.com/admin/notifications" }
                  Email &amp; Notifications
              %li#network
                %a{ :href => "https://github.shopqi.com/admin/domains" }
                  DNS &amp; Domains
      /
        begin div.main
      #main.clearfix.col-12.last.fullscreen
        =yield
      /
        end div.main
    /
      end div.container
    #footer
      %ul
        %li
          %a{ :href => "http://forums.shopify.com/community", :target => "shopify-forum" }
            Forum
        %li
          %a{ :href => "http://blog.shopify.com/", :target => "shopify-blog" }
            Blog
        %li
          %a{ :href => "#", :onclick => "window.open('/legal/terms.html','popup','width=800,height=600,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no'); return false;" }
            Terms &amp; Conditions
        %li
          %a{ :href => "#", :onclick => "window.open('/legal/privacy.html','popup','width=800,height=600,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no'); return false;" }
            Privacy Policy
    #dialog-overlay{ :style => "display:none" }
    #dialog-content{ :style => "display:none" }
    #flasherrors{ :style => "display:none;" }
    #flashnotice{ :style => "display:none;" }
