!!!
%html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %meta(content="no" http-equiv="imagetoolbar")/
    %meta(content="true" name="MSSmartTagsPreventParsing")/
    %meta(content="ShopQi是强大的电子商务解决方案，包含所有电子商务功能，免费注册使用" name="description")/
    %meta(content="ShopQi 电商服务商 B2C 独立网店 网上开店 网上商店 在线销售 电子商务 电子商务解决方案 购物车 品牌电子商务 垂直电子商务 区域电子商务" name="keywords")/
    %meta(content="width=device-width initial-scale=1.0" name="viewport")/
    %link(href="#{image_path('favicon.png')}" rel="shortcut icon" type="image/x-icon")/
    %link(href="#{image_path('icons/apple-touch-icon.png')}" rel="apple-touch-icon-precomposed")/
    %title ShopQi - 网上开店新选择
    = stylesheet_link_tag "layout_shopqi"
    =yield :stylesheets
    /[if IE]
      = stylesheet_link_tag "shopqi_ie-signup"
    /[if IE 6]
      = stylesheet_link_tag "ie6"
    /[if IE 7]
      = stylesheet_link_tag "ie7"
    -unless action_name == 'page'
      =javascript_include_tag 'shopqi_application'
    =yield :javascripts
    =csrf_meta_tag
    -#=render 'shared/google'
  %body(style=@body_style)
    #wrapper
      #masthead
        .content
          %a(href="/")
          %a.logo-shopqi(href="/")=image_tag 'logos/shopqi_bag.gif'
          %ul#nav-primary
            %li#nav-primary-phone
              服务热线
              %span.imgreplacement.phone-400 400-6767-888
            %li(class=@current_tour)=link_to '特色演示', tour_intro_path, class: 'top-nav'
            -#
              %li
                %a(href="/examples/") 成功案例
            %li(class=@current_faq)=link_to '常见问题', faq_path, class: 'top-nav'
            %li(class=@current_signup)=link_to '价格 & 注册', services_signup_path, class: 'top-nav'
            %li.sub-nav
              %ul.utilities
                %li.megadropdown
                  %a(href="#") 资源
                  %ul
                    -#
                      %li
                        %a(href="http://support.shopqi.com/" title="欢迎 &mdash; 售后支持")
                          %strong> 售后支持
                          联系ShopQi
                      %li
                        %a(href="http://forums.shopqi.com/" title="ShopQi论坛")
                          %strong> 论坛
                          ShopQi社区
                      %li
                        %a(href="http://apps.shopqi.com/" title="ShopQi应用商店")
                          %strong> 应用
                          选择商店应用程序
                    %li
                      =link_to theme_store_url_with_port do
                        %strong> 主题外观
                        选择商店外观模板
                      =link_to wiki_url_with_port do
                        %strong> 帮助文档
                        了解如何使用ShopQi
                %li.last
                  %a(href="/login") 登录
      =yield
      #footer
        #footer-wrapper
          .content
            .col-3
              %h3 功能
              %ul
                %li=link_to "ShopQi简介", tour_intro_path
                %li=link_to "运行您的商店", tour_store_path
                %li=link_to "定制主题外观", tour_design_path
                %li=link_to "托管服务&安全", tour_security_path
                %li=link_to "特色列表", tour_features_path
            .col-3
              %h3 资源
              %ul
                %li=link_to "帮助文档", wiki_url_with_port
                %li=link_to "主题商店", theme_store_url_with_port
            .col-3
              %h3 ShopQi
              %ul
                %li=link_to '关于我们', about_path
                %li=link_to '服务条款', agreement_path, target: :_blank
            .col-3.contact-us.last
              %h3 联系我们
              %ul
                %li
                  =image_tag 'admin/icons/phone16.gif', height: 12, width: 12
                  %span.imgreplacement.phone 0755-26008888
                %li
                  =image_tag 'admin/icons/email.gif', height: 12, width: 12
                  =link_to 'admin@shopqi.com', 'mailto:admin@shopqi.com'
          #copyright.center.clear
            %p==© 2011 ShopQi Inc. | #{Setting.domain.record}
            %p
              ShopQi
              %a(href="#{url_with_port}") 电子商务解决方案
              \- 3分钟快速开店
    =render 'shared/baidu'
