!!!
%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %title ShopQi 主题商店 | 电子商务模板
    = stylesheet_link_tag "layout_shopqi_theme"
    = javascript_include_tag :shopqi_application
    /[if lt IE 8]
      = stylesheet_link_tag 'ie7'
    /[if IE]
      = stylesheet_link_tag 'ie'
    =render 'shared/google'
  %body
    .resources-nav
      %ul
        %li.logo
          %a{href: url_with_port}=image_tag 'resources-nav/logo-shopqi.png'
        -#
          %li
            %a(href="#" title="ShopQi App Store") 应用
        %li.current=link_to '主题外观', theme_store_url_with_port
        %li=link_to '百科',"#{wiki_url_with_port}"
        -#
          %li
            %a(href="http://support.myshopqi.com/" title="ShopQi &mdash; Support") 支持
          %li
            %a(href="http://forums.shopqi.com/" title="ShopQi Community") 论坛
          %li
            %a(href="#{wiki_url_with_port}/" title="Main Page - ShopQi Wiki") 文档
    .vig-left
    .vig-right
    #wrapper
      #header
        #navigation.clearfix
          %a.logo(href="/")=image_tag 'logos/logo-themestore.png'
          %ul
            %li
              %a(href="#") 主题指南
            %li
              %a(href="#") 提交主题
            =yield :login
        =yield :filter
      #content(class=@content_class)
        =yield
