!!!
%html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %meta(content="no" http-equiv="imagetoolbar")/
    %meta(content="true" name="MSSmartTagsPreventParsing")/
    %meta(content="Hosted e-commerce with ShopQi the easy way to start your own online store." name="description")/
    %meta(content="store shop ecommerce e-commerce sell online selling goods shopping cart design easy" name="keywords")/
    %meta(content="width=device-width initial-scale=1.0" name="viewport")/
    %link(href="/assets/favicon.png" rel="shortcut icon" type="image/x-icon")/
    %link(href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed")/
    %title ShopQi Wiki
    /[if IE 7]
      =stylesheet_link_tag 'gollum/ie7'
    = stylesheet_link_tag "resources-nav", "wiki", 'gollum/editor','gollum/gollum'
    =yield :gollum
    =csrf_meta_tag
  %body
    .resources-nav
      %ul
        %li.logo
          %a{:href => "http://www.shopqi.com/"}
            =image_tag 'resources-nav/logo-shopqi.png'
        %li=link_to '主题',"#{theme_store_url_with_port}"
        %li=link_to '支持','#'
        -#
          %li=link_to '论坛','#'
        %li.current
          =link_to '百科',"#{wiki_url_with_port}"
    / .resources-nav
    #header.clearfix
      .clearfix
        %h1=link_to image_tag('skins/logo-documentation.png'),"#{wiki_url_with_port}"
        %ul.user-options
          %li#pt-anonlogin=link_to '登录','#'
        %ul.user-options
          %li#pt-anonlogin=link_to '页面列表', '/pages'
        %ul.user-options
          %li#pt-anonlogin=link_to '新增', new_wiki_page_path
        -unless controller.action_name == 'new' || controller.action_name == 'preview'
          %ul.user-options
            %li#pt-anonlogin=link_to '编辑',"/edit/#{@name}"
          %ul.user-options
            %form(action="/destroy/#{@name}" method="post")
              %li#pt-anonlogin=link_to '删除',"javascript:;",onclick: "if (confirm('您确定要删除此页面?')){$(this).closest('form').submit();return true}else{ return false }"
          %ul.user-options
            %li#pt-anonlogin=link_to '历史',"/history/#{@name}"
    #wrapper
      #container.clearfix
        #sidebar.col-3
          .sidebar-wrapper
            #p-search.portlet
              %h5
                %label{:for => "searchInput"} 查询
              #searchBody.pBody
                %form#searchform(action= "/search" method='get')
                  %div
                    %input#searchInput{:accesskey => "f", :name => "q", :type => "text", :value => ""}/
            #category-navigation
              =raw sidebar.formatted_data
        #content.col-9.last
          =yield
:javascript
  $(document).ready(function(){
    $('#category-navigation h3').click(function(){
      $(this).next().toggle();
    })
  })
