!!! 5
- conditional_html do
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %meta(content="no" http-equiv="imagetoolbar")/
    %meta(content="true" name="MSSmartTagsPreventParsing")/
    %meta(content="ShopQi电商平台是强大的电子商务解决方案，包含中小企业所需要的所有电子商务功能，免费注册使用" name="description")/
    %meta(content="ShopQi B2C 独立网店 网上开店 网上商店 在线销售 电子商务 电子商务解决方案 购物车 品牌电子商务 垂直电子商务 区域电子商务" name="keywords")/
    %meta(content="width=device-width initial-scale=1.0" name="viewport")/
    %link(href="#{image_path('favicon.png')}" rel="shortcut icon" type="image/x-icon")/
    %link(href="#{image_path('icons/apple-touch-icon.png')}" rel="apple-touch-icon-precomposed")/
    %title ShopQi 帮助文档
    = stylesheet_link_tag "layout_shopqi_wiki"
    = javascript_include_tag 'shopqi_wiki_application'
    /[if lt IE 7]
      = javascript_include_tag 'DD_belatedPNG_0.0.8a-min'
      :javascript
        DD_belatedPNG.fix('.png_bg');
    =csrf_meta_tag
    -#=render 'shared/google'
  %body
    .resources-nav
      %ul
        %li.logo
          %a{href: url_with_port, style: "filter:none"}=image_tag 'resources-nav/logo-shopqi.png'
        -#
          %li=link_to '论坛','#'
        %li.current=link_to '帮助文档', wiki_url_with_port
        %li=link_to '主题外观', theme_store_url_with_port
        %li=link_to '首页',url_with_port
    / .resources-nav
    #header.clearfix
      .clearfix
        %h1=link_to image_tag('skins/logo-documentation.png', class: :png_bg),"#{wiki_url_with_port}"
        %ul.user-options
          %li#pt-anonlogin=link_to '页面列表', '/pages'
        -if admin_user_signed_in?
          %ul.user-options
            %li#pt-anonlogin=link_to '退出登录',destroy_admin_user_session_path
          %ul.user-options
            %li#pt-anonlogin=link_to '新增', new_wiki_page_path
          -unless controller.action_name == 'new' || controller.action_name == 'preview' || !@name
            %ul.user-options
              %li#pt-anonlogin=link_to '编辑',"/edit/#{@name}"
            %ul.user-options
              %form(action="/destroy/#{@name}" method="post")
                %li#pt-anonlogin=link_to '删除',"javascript:;",onclick: "if (confirm('您确定要删除此页面?')){$(this).closest('form').submit();return true}else{ return false }"
            %ul.user-options
              %li#pt-anonlogin=link_to '历史',"/history/#{@name}"
    #wrapper
      #container.clearfix
        #sidebar.col-3
          .sidebar-wrapper
            #p-search.portlet
              %h5
                %label{:for => "searchInput"} 查询
              #searchBody.pBody
                %form#searchform(action= "/search" method='get')
                  %div.png_bg
                    %input#searchInput(accesskey= "f" name="q" type= "text" value= "")
                    %input#mw-searchButton.searchButton.png_bg(type="submit")
            #category-navigation
              =raw sidebar.formatted_data if sidebar
        #content.col-9.last
          =preserve yield

    =render 'shared/baidu'

:javascript
  $(document).ready(function(){
    $('#category-navigation h3').click(function(){
      $(this).next().toggle();
      return false;
    })
    $('#preview-content').click(function(){
      var oldAction = $('#gollum-form').attr('action');
      var $form = $($('#gollum-form').get(0));
      $form.attr('action', '/preview');
      $form.attr('target', '_blank');
      $form.submit();
      $form.attr('action', oldAction);
      $form.removeAttr('target');
      return false;
    })
  })
