- use_kindeditor

%h2#title= link_to smart_collection.title, "/collection/#{smart_collection.handle}", title: '在网店中查看此页面', target: '_blank'
#action-links
  %ul
    %li.no-icon
      %a#collection-edit-link(href="#edit") 修改
    %li.no-icon
      = link_to image_tag('admin/icons/trash.gif'), smart_collection_path(smart_collection), method: :delete, confirm: '您确定要删除?', title: '删除它', class: :del

#collection-description(style="cursor: pointer" title="点击修改")
  .box2
    %h3 描述
    #collection-description-body
      %table.table-wrapper(style="width: 100%")
        %tr
          %td.no-style
            %p=raw smart_collection.body_html

#collection-edit.group.hide
  =form_for smart_collection, html: {id: 'edit_smart_collection_form'} do |f|
    .group-fields
      %dl
        %dt=f.label :title
        %dd=f.text_field :title, class: :big
        %dt#edit-handle-label.st(style="font-size: 85%") 链接/处理
        %dd#edit-handle.ssb
          %span.note==#{shop.primary_domain.url}/collections/
          =f.text_field :handle, style: 'width: 175px'
          %span.note
            (
            %a(href="#{wiki_url_with_port}/Handle" target="_blank") 这是什么?
            )
        %dt.sst
          =f.label :body_html
          %span.note (非必填)
        %dd(style="margin-bottom:0")=f.text_area :body_html, id: 'kindeditor', style: "width: 895px; height: 200;"
    .group-actions
      %input#submit-collection-btn.btn(name="commit" type="submit" value="保存")
      或者
      = link_to '取消', '#'

#smart-form.box2.sst
  =form_for smart_collection, class: :edit_smart_collection do
    .ssb
      %h3 设置条件
      %p.hint 你可以通过右边的按钮新增多个条件
      %ul#smartcollectionform.nobull(style="margin:0;padding:0")
        =render partial: "rule", collection: smart_collection.rules
    %p
      %input.btn(name="commit" type="submit" value="保存")

#reorder-drop-down
  %table(cellpadding="0" cellspacing="0" style="width: 100%")
    %tr
      %td(style="text-align: left")
        %h4
          %span#collection-product-count==#{collection_products.size} 个商品
          属于此集合
      %td
        %p
          %span.note 集合排序
          =form_for smart_collection, url: update_order_smart_collection_path(smart_collection), remote: true, html: {id: 'smart_collection_orders_form'} do |f|
            =f.select :products_order, orders, {}, onchange: "$('#smart_collection_orders_form').submit();"
%ul#products.nobull.products_for_collection(url="#{sort_smart_collection_path(smart_collection)}")
  =render partial: 'product', collection: collection_products
-if collection_products.empty?
  #no-products.pgroup(style="")
    %em.highlight-alt 没有商品符合您的集合条件.

.pgroup.sst
  %h3 集合可见性
  %p.sb.note
    如果您不需要此集合显示在您的网店中，您可以设置它的可见性为
    %em 隐藏
    \.
  =form_for smart_collection, url: update_published_smart_collection_path(smart_collection), remote: true, html: {id: 'smart_collection_publicshed_form'} do |f|
    =f.select :published, publish_states, {}, style: "width: 120px; font-size: 13px", onchange: "$('#smart_collection_publicshed_form').submit();"

:javascript
  App.init = function(){
    new App.Controllers.SmartCollections();
    Backbone.history.start();
  }
